@charset "UTF-8";
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  /* font-family: inherit; */
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'NanumSquare', sans-serif;
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

html, body {
  height: 100%; }

body {
  background-color: #eee !important;
  line-height: 1.2;
  /*- 한글 기준은 1.2 -*/
  color: black; }

ol, ul, a {
  list-style: none;
  text-decoration: none; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

legend, caption {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1; }

* {
  box-sizing: border-box; }

@media only screen and (min-width: 280px) and (max-width: 600px) {
  html {
    overflow-x: hidden;
    width: 100%; }
    html::before {
      display: none; } }

.container-fluid {
  padding: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100%; }
  .container-fluid::before {
    display: none; }
  .container-fluid::after {
    display: none; }
  .container-fluid button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
  .container-fluid .get-btn {
    background-color: #23527c;
    color: white;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    width: 150px;
    text-align: center; }
    .container-fluid .get-btn:hover {
      background-color: #355f84; }
  .container-fluid section {
    position: relative;
    width: 100%;
    margin: 0 auto; }
    @media only screen and (min-width: 280px) and (max-width: 600px) {
      .container-fluid section {
        background-position-y: 0; } }
    .container-fluid section .img-wrapper {
      width: 100%;
      height: 450px; }
      @media only screen and (min-width: 280px) and (max-width: 600px) {
        .container-fluid section .img-wrapper {
          height: 240px; } }
      @media only screen and (min-width: 601px) and (max-width: 991px) {
        .container-fluid section .img-wrapper {
          height: 350px; } }
      .container-fluid section .img-wrapper .img-text-group {
        width: 1050px;
        margin: 0 auto;
        color: #fff;
        text-shadow: 4px 4px 5px #000; }
        @media only screen and (min-width: 280px) and (max-width: 600px) {
          .container-fluid section .img-wrapper .img-text-group {
            width: 100%;
            padding: 0 15px 0 15px; } }
        @media only screen and (min-width: 601px) and (max-width: 991px) {
          .container-fluid section .img-wrapper .img-text-group {
            width: 100%;
            padding: 0 25px 0 25px; } }
        @media only screen and (min-width: 992px) and (max-width: 1250px) {
          .container-fluid section .img-wrapper .img-text-group {
            width: 100%;
            padding: 0 55px 0 55px; } }
        .container-fluid section .img-wrapper .img-text-group .img-text-title {
          padding-top: 50px;
          font-size: 55px;
          font-weight: 600; }
          @media only screen and (min-width: 280px) and (max-width: 600px) {
            .container-fluid section .img-wrapper .img-text-group .img-text-title {
              font-size: 22px; } }
          @media only screen and (min-width: 601px) and (max-width: 991px) {
            .container-fluid section .img-wrapper .img-text-group .img-text-title {
              font-size: 24px; } }
        .container-fluid section .img-wrapper .img-text-group .img-text-des {
          padding: 20px 0;
          font-size: 24px;
          text-shadow: 3px 3px 4px #000; }
          @media only screen and (min-width: 280px) and (max-width: 600px) {
            .container-fluid section .img-wrapper .img-text-group .img-text-des {
              font-size: 12px; } }
          @media only screen and (min-width: 601px) and (max-width: 991px) {
            .container-fluid section .img-wrapper .img-text-group .img-text-des {
              font-size: 14px; } }
    .container-fluid section .small-menu {
      display: table;
      width: 100%;
      text-align: center;
      background: #333;
      height: 35px; }
      @media only screen and (min-width: 280px) and (max-width: 600px) {
        .container-fluid section .small-menu {
          display: none; } }
      .container-fluid section .small-menu-list {
        cursor: pointer;
        display: table-cell;
        margin: 0 auto; }
        .container-fluid section .small-menu-list a {
          height: 35px;
          padding-top: 10px;
          float: left;
          width: 100%;
          min-width: 100px;
          font-size: 14px;
          color: #fff;
          text-decoration: none; }
          @media only screen and (min-width: 280px) and (max-width: 600px) {
            .container-fluid section .small-menu-list a {
              font-size: 10px;
              padding-top: 12px;
              display: none; } }
          @media only screen and (min-width: 601px) and (max-width: 991px) {
            .container-fluid section .small-menu-list a {
              font-size: 12px; } }
          .container-fluid section .small-menu-list a:hover, .container-fluid section .small-menu-list a:focus {
            border-bottom: 3px solid #fff;
            background: #174A8E; }
        .container-fluid section .small-menu-list .active-menu {
          border-bottom: 3px solid #fff;
          background: #174A8E; }
    .container-fluid section .fixed-sub {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 999; }
  .container-fluid article {
    width: 1050px;
    margin: 0 auto; }
    @media only screen and (min-width: 280px) and (max-width: 600px) {
      .container-fluid article {
        width: 100%;
        padding: 0 15px 0 15px; } }
    @media only screen and (min-width: 601px) and (max-width: 991px) {
      .container-fluid article {
        width: 100%;
        padding: 0 25px 0 25px; } }
    @media only screen and (min-width: 992px) and (max-width: 1250px) {
      .container-fluid article {
        width: 100%;
        padding: 0 55px 0 55px; } }
    .container-fluid article .location {
      margin: 55px 0 10px 0;
      color: #666;
      font-size: 14px;
      font-weight: 600; }
      @media only screen and (min-width: 280px) and (max-width: 600px) {
        .container-fluid article .location {
          padding: 10px 0; } }
      .container-fluid article .location a {
        font-size: 12px;
        color: #666;
        text-decoration: none; }
        @media only screen and (min-width: 280px) and (max-width: 600px) {
          .container-fluid article .location a {
            font-size: 12px; } }
        @media only screen and (min-width: 601px) and (max-width: 991px) {
          .container-fluid article .location a {
            font-size: 12px; } }
        .container-fluid article .location a:last-child {
          font-weight: 800; }
      .container-fluid article .location span {
        display: inline-block;
        width: 20px;
        font-size: 12px;
        text-align: center; }
    .container-fluid article .article {
      margin: 0px auto 60px auto;
      background: #fff;
      padding: 60px 90px;
      color: #333; }
      @media only screen and (min-width: 280px) and (max-width: 600px) {
        .container-fluid article .article {
          font-size: 12px;
          width: 100%;
          padding: 30px 15px; } }
      @media only screen and (min-width: 601px) and (max-width: 991px) {
        .container-fluid article .article {
          font-size: 14px;
          width: 100%;
          padding: 30px 25px 30px 25px; } }
      @media only screen and (min-width: 992px) and (max-width: 1250px) {
        .container-fluid article .article {
          width: 100%;
          padding: 60px 75px 60px 75px; } }
      .container-fluid article .article .sol {
        height: 25px; }
      .container-fluid article .article .article-title {
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin-bottom: 40px; }
        .container-fluid article .article .article-title p {
          margin: 15px 0 0 0;
          font-size: 20px;
          color: gray; }
          @media only screen and (min-width: 280px) and (max-width: 600px) {
            .container-fluid article .article .article-title p {
              font-size: 12px; } }
          @media only screen and (min-width: 601px) and (max-width: 991px) {
            .container-fluid article .article .article-title p {
              font-size: 16px; } }
        @media only screen and (min-width: 280px) and (max-width: 600px) {
          .container-fluid article .article .article-title {
            font-size: 20px;
            padding-bottom: 15px;
            margin-bottom: 20px; } }
        @media only screen and (min-width: 601px) and (max-width: 991px) {
          .container-fluid article .article .article-title {
            font-size: 30px;
            padding-bottom: 20px;
            margin-bottom: 30px; } }
      .container-fluid article .article .article-box {
        width: 100%; }
      .container-fluid article .article .article-text {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        margin: 20px 0;
        color: #333; }
        @media only screen and (min-width: 280px) and (max-width: 600px) {
          .container-fluid article .article .article-text {
            font-size: 10px; } }
        @media only screen and (min-width: 601px) and (max-width: 991px) {
          .container-fluid article .article .article-text {
            font-size: 14px; } }
      .container-fluid article .article .emp {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.8;
        color: #174A8E;
        padding-bottom: 10px; }
        @media only screen and (min-width: 280px) and (max-width: 600px) {
          .container-fluid article .article .emp {
            font-size: 12px;
            width: 100%; } }
        @media only screen and (min-width: 601px) and (max-width: 991px) {
          .container-fluid article .article .emp {
            font-size: 16px;
            width: 100%; } }
      .container-fluid article .article:after {
        content: "";
        display: block;
        clear: both; }
    .container-fluid article .hide {
      display: none;
      transition: all .5s; }
  .container-fluid .move-top {
    position: fixed;
    right: 2%;
    bottom: 130px;
    background-color: #999;
    color: #fff;
    border: none;
    width: 45px;
    max-width: 45px;
    height: 45px;
    font-size: 32px;
    padding: 0;
    padding-top: 5px; }

section {
  width: 1050px;
  margin: 0 auto; }
  section .img-wrapper {
    position: relative;
    right: 108px;
    height: 400px;
    width: 98.9vw;
    background-image: url("../img/img-test-1.png"); }
    section .img-wrapper .img-text-group {
      padding: 25px 0;
      color: #fff; }
      section .img-wrapper .img-text-group .img-text-title {
        font-size: 28px; }
      section .img-wrapper .img-text-group .img-text-des {
        padding: 8px 0;
        font-size: 16px; }
  section .location {
    margin: 50px 0 10px 0;
    color: #666;
    font-size: 12px;
    font-weight: 600; }
    section .location a {
      font-size: 12px;
      color: #666;
      text-decoration: none; }
    section .location span {
      display: inline-block;
      width: 20px;
      font-size: 12px;
      text-align: center; }
  section .small-menu {
    background: #333;
    height: 40px;
    padding: 0 125px; }
    section .small-menu-list {
      cursor: pointer;
      display: block;
      margin: 0 auto; }
      section .small-menu-list a {
        height: 40px;
        padding-top: 13px;
        float: left;
        width: 160px;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        text-align: center; }
        section .small-menu-list a:hover, section .small-menu-list a:focus {
          border-bottom: 5px solid #fff; }
      section .small-menu-list .ative-menu {
        border-bottom: 5px solid #fff; }
  section .article-1 {
    margin: 0 0 60px 0;
    background: #fff;
    padding: 60px 0; }
    section .article-1 .ceo-msg {
      color: #333;
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 30px;
      border-bottom: 2px solid #eee;
      margin-bottom: 40px;
      margin-right: 8.33333333%; }
    section .article-1 .txt-box {
      float: left;
      width: 530px; }
      section .article-1 .txt-box .emp {
        font-size: 23px;
        font-weight: 600;
        color: #174A8E;
        padding-bottom: 10px; }
      section .article-1 .txt-box .emp-2 {
        width: 450px;
        font-size: 20px;
        font-weight: 600;
        color: #333; }
      section .article-1 .txt-box .txt-detail {
        width: 460px;
        margin-top: 40px;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        color: #333; }
      section .article-1 .txt-box .ceo-name {
        font-weight: 600; }
    section .article-1 .img-ceo {
      float: right;
      width: 330px;
      margin-right: 8.33333333%; }
    section .article-1 .img-sign {
      float: right;
      margin-top: 25px;
      margin-right: 8.33333333%; }
  section .article-1:after {
    content: "";
    display: block;
    clear: both; }
