.container-fluid {
  padding: 0; }
  .container-fluid header {
    background: #fff;
    height: 140px; }
    .container-fluid header .logo-wrapper {
      width: 1050px;
      height: 95px;
      margin: 0 auto;
      padding: 32px 0 32px 0; }
      .container-fluid header .logo-wrapper h1 .icraft-logo {
        height: 30px;
        display: block;
        margin: 0 auto; }
    .container-fluid header .nav-container {
      background: #174A8E;
      height: 45px; }
      .container-fluid header .nav-container .nav-menu {
        width: 1050px;
        margin: 0 auto;
        padding: 0 75px 0 175px; }
        .container-fluid header .nav-container .nav-menu-list {
          font-size: 16px;
          position: relative;
          height: 45px;
          float: left;
          width: 160px;
          cursor: pointer; }
          .container-fluid header .nav-container .nav-menu-list:hover .nav-menu-list-sub {
            display: block;
            visibility: visible; }
          .container-fluid header .nav-container .nav-menu-list .nav-menu-list-name {
            display: block;
            padding: 14.1px 0;
            padding-left: 12px;
            color: #fff;
            text-decoration: none; }
          .container-fluid header .nav-container .nav-menu-list-sub {
            position: absolute;
            left: 0;
            width: 160px;
            height: 225px;
            background: #fff;
            display: none;
            visibility: hidden; }
            .container-fluid header .nav-container .nav-menu-list-sub li {
              display: block;
              font-size: 14px;
              border-bottom: 1px solid #d4d4d4;
              transition: 0.3s all; }
              .container-fluid header .nav-container .nav-menu-list-sub li:hover, .container-fluid header .nav-container .nav-menu-list-sub li:focus {
                background: #999;
                border-bottom: 1px solid #999; }
              .container-fluid header .nav-container .nav-menu-list-sub li:hover li {
                display: block; }
              .container-fluid header .nav-container .nav-menu-list-sub li a {
                padding: 13.6px 0 13.6px 15px;
                display: block;
                color: #333;
                text-decoration: none; }
              .container-fluid header .nav-container .nav-menu-list-sub li span {
                float: right;
                font-size: 16px;
                font-weight: 500;
                margin-right: 12px;
                line-height: 1; }
            .container-fluid header .nav-container .nav-menu-list-sub-detail {
              width: 160px;
              background: #fff;
              position: absolute;
              left: 100%;
              top: 0; }
              .container-fluid header .nav-container .nav-menu-list-sub-detail li {
                display: none; }
            .container-fluid header .nav-container .nav-menu-list-sub .solution {
              width: 212px; }
            .container-fluid header .nav-container .nav-menu-list-sub .partner {
              top: 135px; }
            .container-fluid header .nav-container .nav-menu-list-sub .ir-detail {
              top: 90px; }
          .container-fluid header .nav-container .nav-menu-list .info-busi {
            height: 180px; }
          .container-fluid header .nav-container .nav-menu-list .info-ir {
            height: 135px; }
          .container-fluid header .nav-container .nav-menu-list .info-recruit {
            height: 90px; }
          .container-fluid header .nav-container .nav-menu-list .info-customer {
            height: 90px; }
        .container-fluid header .nav-container .nav-menu .list-ir {
          padding-left: 22px; }
  .container-fluid section {
    width: 1050px;
    margin: 0 auto; }
    .container-fluid section .location {
      margin: 15px 0 10px 0;
      color: #666;
      font-size: 12px;
      font-weight: 600; }
      .container-fluid section .location a {
        font-size: 12px;
        color: #666;
        text-decoration: none; }
      .container-fluid section .location span {
        display: inline-block;
        width: 20px;
        font-size: 12px;
        text-align: center; }
    .container-fluid section .img-wrapper {
      height: 400px;
      background: url("../img/img-test-1.png") no-repeat center top; }
    .container-fluid section .small-menu {
      background: #333;
      height: 40px;
      padding: 0 205px; }
      .container-fluid section .small-menu-list {
        cursor: pointer;
        display: block;
        margin: 0 auto; }
        .container-fluid section .small-menu-list a {
          height: 40px;
          padding-top: 13px;
          float: left;
          width: 160px;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          text-align: center; }
          .container-fluid section .small-menu-list a:hover, .container-fluid section .small-menu-list a:focus {
            border-bottom: 5px solid #fff; }
        .container-fluid section .small-menu-list .ative-menu {
          border-bottom: 5px solid #fff; }
    .container-fluid section .article-1 {
      margin: 60px 0;
      background: #fff;
      padding: 60px 0; }
      .container-fluid section .article-1 .overview-title {
        color: #333;
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin-bottom: 80px;
        margin-right: 8.33333333%; }
      .container-fluid section .article-1 .overview-wrapper .overview-img {
        width: 370px;
        margin: 0 auto; }
      .container-fluid section .article-1 .overview-wrapper table {
        margin-top: 80px; }
        .container-fluid section .article-1 .overview-wrapper table th {
          text-align: center;
          font-size: 18px;
          font-weight: 600; }
        .container-fluid section .article-1 .overview-wrapper table td {
          font-size: 18px; }
    .container-fluid section .article-1:after {
      content: "";
      display: block;
      clear: both; }
  .container-fluid footer .footer-wrapper {
    width: 100%;
    height: 100px;
    background: #333;
    padding: 37px 0; }
    .container-fluid footer .footer-wrapper .text-area {
      width: 1050px;
      margin: 0 auto; }
      .container-fluid footer .footer-wrapper .text-area a img {
        float: left;
        width: 150px;
        margin-right: 25px; }
      .container-fluid footer .footer-wrapper .text-area p {
        float: left;
        font-size: 13px;
        font-weight: 100;
        color: #d4d4d4; }
