@import './config';

html {
  @include respond-to($phone) {    
    overflow-x: hidden;   
    width: 100%; 
    &::before {
      display: none;
    }
  }
}
.list-style {
  list-style: circle;
}
.container-fluid {
  padding: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 100%;
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
  button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .get-btn {
    background-color: #23527c;
    color: white;
    border: none;
    border-radius: 2px;
    display: block;
    margin: 0 auto;  
    margin-top: 30px;
    padding:10px; 
    width: 150px;
    text-align: center;
    &:hover {
      background-color: #355f84;
    }
  } 
  .pagination {
    width: auto;
    li {
      &.active {
        .page-link {
          background-color: #ddd;
          color: #666;
        }
      }
    }
  }
  section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include respond-to($phone) {
      background-position-y: 0;
      padding-top: 60px;
    }
    .img-wrapper {
      width: 100%;
      height: 450px;
      // height: auto;
      @include respond-to($phone) {
        height: 240px;
      }
      @include respond-to($tablet) {
        height: 350px;
      }
      .img-text-group {
        width: 1050px;
        margin: 0 auto;
        color: #fff;
        text-shadow: 4px 4px 5px #000;
        @include respond-to($phone) {
          width: 100%;
          padding: 0 15px 0 15px;
        }
        @include respond-to($tablet) {
          width: 100%;
          padding: 0 25px 0 25px;
        }
        @include respond-to($desktop) {
          width: 100%;
          padding: 0 55px 0 55px;
        }
        .img-text-title {
          padding-top: 50px;
          // font-size: 3vw;
          font-size: 55px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 22px;
          }
          @include respond-to($tablet) {
            font-size: 24px;
          }        
        }
        .img-text-des {
          padding: 20px 0;
          // font-size: 2vw;
          font-size: 24px;
          text-shadow: 3px 3px 4px #000;          
          @include respond-to($phone) {
            font-size: 12px;
          }
          @include respond-to($tablet) {
            font-size: 14px;
          }
        }
      }
    }
    .small-menu {
      display: table;
      width: 100%;
      text-align: center;
      background: #333;
      height: 35px;
      // padding: 0 205px;      
      @include respond-to($phone) {         
        display: none;           
      }
      &-list {
        cursor: pointer;
        display: table-cell;
        margin: 0 auto;
        a {
          height: 35px;
          padding-top: 10px;
          float: left;
          // width: 253px;
          width: 100%;
          min-width: 100px;
          // font-size: 1.05vw;
          font-size: 15px;
          color: #fff;
          text-decoration: none;
          @include respond-to($phone) {
            font-size: 10px;
            padding-top: 12px;  
            display: none;           
          }
          @include respond-to($tablet) {
            font-size: 12px;            
          } 
          &:hover, 
          &:focus {
            border-bottom: 3px solid #fff;
            background: $color-key;
            
          }
        }
        .active-menu {
          border-bottom: 3px solid #fff;
          background: $color-key;          
        }
      }
    }
    .fixed-sub {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
  article {
    width: 1050px;
    // width: 100%;
    // padding: 0 10%;
    margin: 0 auto;
    @include respond-to($phone) {
      width: 100%;
      padding: 0 15px 0 15px;
    }
    @include respond-to($tablet) {
      width: 100%;
      padding: 0 25px 0 25px;
    }
    @include respond-to($desktop) {
      width: 100%;
      padding: 0 55px 0 55px;
    }
    .location {
      margin: 55px 0 10px 0;
      color: #666;
      font-size: 14px;
      font-weight: 600;
      @include respond-to($phone) {
        margin: 10px 0;
        padding: 10px 0;
      }
      a {
        font-size: 12px;   
        color: #666;
        text-decoration: none;
        @include respond-to($phone) {
          font-size: 12px;
        }
        @include respond-to($tablet) {
          font-size: 12px;
        }
        &:last-child  {
          font-weight: 800;
        }
      }
      span {
        display: inline-block;
        width: 20px;
        font-size: 12px;     
        text-align: center;
      }
    }   
    .article {
      margin: 0px auto 60px auto;
      background: #fff;
      padding: 60px 90px;
      color: #333;
      @include respond-to($phone) {
        font-size: 12px;        
        width: 100%;
        padding: 30px 15px;
      }
      @include respond-to($tablet) {
        font-size: 14px;
        width: 100%;
        padding: 30px 25px 30px 25px;
      }
      @include respond-to($desktop) {
        width: 100%;
        padding: 60px 75px 60px 75px;
      }
      .sol {
        height: 25px;
      }
      .spac-2 {
        letter-spacing: -0.2px !important;
      }
      .spac-3 {
        letter-spacing: -0.3px !important;
      }
      .spac-4 {
        letter-spacing: -0.4px !important;
      }
      .spac-5 {
        letter-spacing: -0.5px !important;
      }
      .spac-6 {
        letter-spacing: -0.6px !important;
      }
      .spac-7 {
        letter-spacing: -0.7px !important;
      }
      .spac-8 {
        letter-spacing: -0.8px !important;
      }
      .spac1 {
        letter-spacing: 0.1px !important;
      }
      .spac2 {
        letter-spacing: 0.2px !important;
      }
      .spac3 {
        letter-spacing: 0.3px !important;
      }
      .spac4 {
        letter-spacing: 0.4px !important;
      }
      .spac5 {
        letter-spacing: 0.5px !important;
      }
      .spac6 {
        letter-spacing: 0.6px !important;
      }
      .spac7 {
        letter-spacing: 0.7px !important;
      }
      .spac8 {
        letter-spacing: 0.8px !important;
      }
      .spac9 {
        letter-spacing: 0.9px !important;
      }
      .article-title {
        font-size: 40px;
        // font-size: 3vw;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin-bottom: 40px;
        p {
          margin: 15px 0 0 0;
          font-size: 20px;
          color: gray;
          @include respond-to($phone) {
            font-size: 12px;
          }
          @include respond-to($tablet) {
            font-size: 16px;
          }
        }
        @include respond-to($phone) {
          font-size: 20px;
          padding-bottom: 15px;
          margin-bottom: 20px;       
        }
        @include respond-to($tablet) {
          font-size: 30px;
          padding-bottom: 20px;
          margin-bottom: 30px;       
        }
      }
      .article-box {
        width: 100%;
      }
      .article-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: justify;
        margin: 20px 0;
        color: #333;
        letter-spacing: -0.6px;
        @include respond-to($phone) {
          font-size: 10px;        
        }
        @include respond-to($tablet) {
          font-size: 14px;
        }
      }
      .emp {
        font-size: 24px;
        text-align: justify;
        font-weight: 600;
        line-height: 1.8;
        color: $color-key;
        padding-bottom: 10px;
        @include respond-to($phone) {
          font-size: 12px;
          width: 100%;
        }
        @include respond-to($tablet) {
          font-size: 16px;        
          width: 100%;
        }
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .hide {
      display: none;
      transition: all .5s;
    }
  }
  .move-top {
    // display: none !important;
    position: fixed;
    right: 2%;
    bottom: 130px;
    // background: {
    //   image: url('../img/arrow-up.png');
    //   repeat: no-repeat;
    //   size: cover;
    //   color: #999;
    // }
    background-color: #999;
    color: #fff;
    border: none;
    width: 45px;
    max-width: 45px;
    height: 45px;
    font-size: 25px;
    padding:0;
  }
}
