@import './config';

.container-fluid {
  padding: 0;
  section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include respond-to($phone) {
      background-position-y: 0;
    }
    .img-wrapper {
      width: 100%;
      height: 450px;
      // height: auto;
      @include respond-to($phone) {
        height: 240px;
      }
      @include respond-to($tablet) {
        height: 350px;
      }
      .img-text-group {
        width: 1050px;
        margin: 0 auto;
        color: #fff;
        text-shadow: 4px 4px 5px #000;
        @include respond-to($phone) {
          width: 100%;
          padding: 0 15px 0 15px;
        }
        @include respond-to($tablet) {
          width: 100%;
          padding: 0 25px 0 25px;
        }
        @include respond-to($desktop) {
          width: 100%;
          padding: 0 55px 0 55px;
        }
        .img-text-title {
          padding-top: 50px;
          // font-size: 3vw;
          font-size: 55px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 20px;
          }
          @include respond-to($tablet) {
            font-size: 24px;
          }        
        }
        .img-text-des {
          padding: 20px 0;
          // font-size: 2vw;
          font-size: 24px;
          text-shadow: 3px 3px 4px #000;          
          @include respond-to($phone) {
            font-size: 10px;
          }
          @include respond-to($tablet) {
            font-size: 14px;
          }
        }
      }
    }
    .small-menu {
      display: table;
      width: 100%;
      text-align: center;
      background: #333;
      height: 35px;
      // padding: 0 205px;
      &-list {
        cursor: pointer;
        display: table-cell;
        margin: 0 auto;
        a {
          height: 35px;
          padding-top: 10px;
          float: left;
          // width: 253px;
          width: 100%;
          min-width: 100px;
          // font-size: 1.05vw;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          @include respond-to($phone) {
            font-size: 10px;
            padding-top: 12px;             
          }
          @include respond-to($tablet) {
            font-size: 12px;
          }
          &:hover, 
          &:focus {
            border-bottom: 5px solid #fff;
          }
        }
        .active-menu {
          border-bottom: 5px solid #fff;
        }
      }
    }
    .fixed-sub {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
  article {
    width: 1050px;
    // width: 100%;
    // padding: 0 10%;
    margin: 0 auto;
    @include respond-to($phone) {
      width: 100%;
      padding: 0 15px 0 15px;
    }
    @include respond-to($tablet) {
      width: 100%;
      padding: 0 25px 0 25px;
    }
    @include respond-to($desktop) {
      width: 100%;
      padding: 0 55px 0 55px;
    }
    .location {
      margin: 55px 0 10px 0;
      color: #666;
      font-size: 12px;
      font-weight: 600;
      a {
        font-size: 12px;   
        color: #666;
        text-decoration: none;
        @include respond-to($phone) {
          font-size: 10px;
        }
        @include respond-to($tablet) {
          font-size: 10px;
        }
      }
      span {
        display: inline-block;
        width: 20px;
        font-size: 12px;     
        text-align: center;
      }
    }   
    .article {
      margin: 0px auto 60px auto;
      background: #fff;
      padding: 60px 90px;
      color: #333;
      @include respond-to($phone) {
        font-size: 12px;        
        width: 100%;
        padding: 30px 25px 30px 25px;
      }
      @include respond-to($tablet) {
        font-size: 14px;
        width: 100%;
        padding: 30px 25px 30px 25px;
      }
      @include respond-to($desktop) {
        width: 100%;
        padding: 60px 75px 60px 75px;
      }
      .sol {
        height: 25px;
      }
      .article-title {
        font-size: 40px;
        // font-size: 3vw;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin-bottom: 40px;
        @include respond-to($phone) {
          font-size: 20px;
          padding-bottom: 15px;
          margin-bottom: 20px;       
        }
        @include respond-to($tablet) {
          font-size: 30px;
          padding-bottom: 20px;
          margin-bottom: 30px;       
        }
      }
      .article-box {
        width: 100%;
      }
      .article-text {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        margin: 20px 0;
        color: #333;
        @include respond-to($phone) {
          font-size: 10px;        
        }
        @include respond-to($tablet) {
          font-size: 14px;
        }
      }
      .emp {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.8;
        color: $color-key;
        padding-bottom: 10px;
        @include respond-to($phone) {
          font-size: 14px;
          width: 100%;
        }
        @include respond-to($tablet) {
          font-size: 18px;        
          width: 100%;
        }
      }
    }
    .article:after {
      content: "";
      display: block;
      clear: both;
    }
    .hide {
      display: none;
      transition: all .5s;
    }
  }
  .move-top {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 130px;
    background: #999;
    color: #fff;
    border: none;
    width: 45px;
    height: 45px;
    font-size: 32px;
    padding-top: 5px;
  }
}
