@import './config';

.container-fluid {
  padding: 0;
  header {
    background: #fff;
    height: 140px;
    .logo-wrapper {
      // width: 1050px;
      width: 100%;
      height: 95px;
      margin: 0 auto;
      padding: 32px 0 32px 0;
      h1 {
        .icraft-logo {
          height: 30px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .nav-container {
      width: 100%;      
      background: #174A8E;
      height: 45px;
      .nav-menu {
        display: table;
        width: 100%;
        // width: 1050px;
        // transform: translateX(20%);
        // margin: 0 auto;
        padding: 0 17%;
        a {
          font-size: 14px;
          // font-size: 1.05vw;
          @include respond-to($phone) {
            font-size: 10px;
          }
          @include respond-to($tablet) {
            font-size: 12px;
          }
        }
        &-list {
          display: table-cell;
          position: relative;
          height: 100%;
          float: left;
          // width: 100%;
          min-width: 12vw;
          // min-width: 160px;
          cursor: pointer;
          &:hover .nav-menu-list-sub {
            display: block;
            visibility: visible;
          }
          .nav-menu-list-name {
            display: block;
            height: 45px;
            padding-top: 15px;
            padding-left: 12px;
            color: #fff;
            text-decoration: none;
          }
          &-sub {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            min-width: 160px;         
            height: auto;
            background: #fff;
            display: none;
            visibility: hidden;
            .cantmove {
              cursor: default;
              position: relative;              
            }
            li {
              display: block;
              // font-size: 14px;
              border-bottom: 1px solid #d4d4d4;
              transition: 0.3s all;
              &:hover, &:focus {
                background: #999;
                border-bottom: 1px solid #999;
              }
              &:hover li {
                display: block;
              }
              a {
                padding: 13.6px 8px 13.6px 8px;
                display: block;
                color: #333;
                text-decoration: none;
              }
              span {
                float: right;
                // font-size: 16px;
                font-weight: 500;
                margin-right: 12px;
                line-height: 1;
              }
            }
            &-detail {
              width: 160px;
              background: #fff;
              position: absolute;
              left: 100%;
              top: 0;
              li {
                display: none;
              }
            }
            .solution {
              width: 100%;
            }
            .partner {
              position: absolute;
              top: 0;
              width: 100%;              
            }
            .ir-detail {
              top: 89px;
              position: absolute;
              top: 0;
            }
          }
        }
        .list-ir {
          padding-left: 22px;
        }
      }
    }
  }
  section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    @include respond-to($phone) {
      background-position-y: 0;
    }
    .img-wrapper {
      width: 100%;
      height: 400px;
      // height: auto;
      @include respond-to($phone) {
        height: 250px;
      }
      @include respond-to($tablet) {
        height: 260px;
      }
      .img-text-group {
        width: 1050px;
        margin: 0 auto;
        color: #fff;
        text-shadow: 2px 2px 5px #000;
        @include respond-to($phone) {
          width: 100%;
          padding: 0 15px 0 15px;
        }
        @include respond-to($tablet) {
          width: 100%;
          padding: 0 25px 0 25px;
        }
        @include respond-to($desktop) {
          width: 100%;
          padding: 0 55px 0 55px;
        }
        .img-text-title {
          padding-top: 50px;
          // font-size: 3vw;
          font-size: 28px;
          @include respond-to($phone) {
            font-size: 20px;
          }
          @include respond-to($tablet) {
            font-size: 24px;
          }        
        }
        .img-text-des {
          padding: 8px 0;
          // font-size: 2vw;
          font-size: 18px;
          @include respond-to($phone) {
            font-size: 10px;
          }
          @include respond-to($tablet) {
            font-size: 14px;
          }
        }
      }
    }
    .small-menu {
      display: table;
      width: 100%;
      text-align: center;
      background: #333;
      height: 35px;
      // padding: 0 205px;
      &-list {
        cursor: pointer;
        display: table-cell;
        margin: 0 auto;
        a {
          height: 35px;
          padding-top: 10px;
          float: left;
          // width: 253px;
          width: 100%;
          min-width: 100px;
          // font-size: 1.05vw;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          @include respond-to($phone) {
            font-size: 10px;
            padding-top: 12px;             
          }
          @include respond-to($tablet) {
            font-size: 12px;
          }
          &:hover, 
          &:focus {
            border-bottom: 5px solid #fff;
          }
        }
        .active-menu {
          border-bottom: 5px solid #fff;
        }
      }
    }
    .fixed-sub {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 999;
    }
  }
  article {
    width: 1050px;
    // width: 100%;
    // padding: 0 10%;
    margin: 0 auto;
    @include respond-to($phone) {
      width: 100%;
      padding: 0 15px 0 15px;
    }
    @include respond-to($tablet) {
      width: 100%;
      padding: 0 25px 0 25px;
    }
    @include respond-to($desktop) {
      width: 100%;
      padding: 0 55px 0 55px;
    }
    .location {
      margin: 55px 0 10px 0;
      color: #666;
      font-size: 12px;
      font-weight: 600;
      a {
        font-size: 12px;   
        color: #666;
        text-decoration: none;
        @include respond-to($phone) {
          font-size: 10px;
        }
        @include respond-to($tablet) {
          font-size: 10px;
        }
      }
      span {
        display: inline-block;
        width: 20px;
        font-size: 12px;     
        text-align: center;
      }
    }   
    .article {
      margin: 0px auto 60px auto;
      background: #fff;
      padding: 60px 90px;
      color: #333;
      @include respond-to($phone) {
        font-size: 12px;        
        width: 100%;
        padding: 30px 25px 30px 25px;
      }
      @include respond-to($tablet) {
        font-size: 14px;
        width: 100%;
        padding: 30px 25px 30px 25px;
      }
      @include respond-to($desktop) {
        width: 100%;
        padding: 60px 75px 60px 75px;
      }
      .article-title {
        font-size: 40px;
        // font-size: 3vw;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin-bottom: 40px;
        @include respond-to($phone) {
          font-size: 20px;
          padding-bottom: 15px;
          margin-bottom: 20px;       
        }
        @include respond-to($tablet) {
          font-size: 30px;
          padding-bottom: 20px;
          margin-bottom: 30px;       
        }
      }
      .article-box {
        width: 100%;
      }
      .article-text {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        margin: 20px 0;
        color: #333;
        @include respond-to($phone) {
          font-size: 10px;        
        }
        @include respond-to($tablet) {
          font-size: 14px;
        }
      }
      .emp {
        font-size: 22px;
        font-weight: 600;
        color: $color-key;
        padding-bottom: 10px;
        @include respond-to($phone) {
          font-size: 14px;
          width: 100%;
        }
        @include respond-to($tablet) {
          font-size: 18px;        
          width: 100%;
        }
      }
    }
    .article:after {
      content: "";
      display: block;
      clear: both;
    }
    .hide {
      display: none;
      transition: all .5s;
    }
  }
  footer {
    .footer-wrapper {
      width: 100%;
      height: 100px;
      background: #333;
      padding: 37px 0;
      .text-area {
        line-height: 1.4;
        // width: 100%;        
        width: 1050px;        
        margin: 0 auto;
        // padding: 0 90px;
        @include respond-to($phone) {
          width: 100%;
          padding: 0 15px 0 15px;
        }
        @include respond-to($tablet) {
          width: 100%;
          padding: 0 25px 0 25px;
        }
        @include respond-to($desktop) {
          width: 100%;
          padding: 0 55px 0 55px;
        }
        a {
          img {
            float: left;
            width: 150px;
            margin-right: 25px;
            @include respond-to($phone) {
              width: 100px;
              // float: none;
              // margin: 0 auto;
            }
            @include respond-to($tablet) {
              width: 120px;
              // float: left;
              // margin-right: 10px;
            }
          }
        }
        p {
          float: left;
          // font-size: 1.1vw;
          font-size: 13px;
          font-weight: 100;
          color: #d4d4d4;
          @include respond-to($phone) {
            display: none;
          }
          @include respond-to($tablet) {
            // float: left;
            // font-size: 11px;
            display: none;
          }
        }
      }
    }
  }
  .move-top {
    display: none;
    position: fixed;
    right: 2%;
    bottom: 130px;
    background: #999;
    color: #fff;
    border: none;
    width: 45px;
    height: 45px;
  }
}
