@import './config';

header {
  background: #fff;
  height: 140px;
  @include respond-to($phone) {
    height: auto;
  }
  #header-wrapper {
    @include respond-to($phone) {
      display: none;
    }
  } 
  .logo-wrapper {
    // width: 1050px;
    width: 100%;
    height: 95px;
    margin: 0 auto;
    padding: 32px 0 32px 0;
    h1 {
      text-align: center;
      margin: 0;
      a {
        display: inline-block;
        .icraft-logo {
          height: 30px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .nav-container {
    width: 100%;      
    background: $color-key;
    height: 45px;    
    .nav-menu {
      display: table;
      margin: 0 auto;
      a {
        font-size: 14px;
        // font-size: 1.05vw;
        @include respond-to($phone) {
          font-size: 12px;
        }
        @include respond-to($tablet) {
          font-size: 12px;
        }
      }
      &-list {
        display: table-cell;
        position: relative;
        height: 100%;
        float: left;
        min-width: 200px;        
        @include respond-to($phone) {
          min-width: 12vw;
        }
        @include respond-to($tablet) {
          min-width: 12vw;
        }
        cursor: pointer;
        &:hover .nav-menu-list-sub {
          // display: block;
          // visibility: visible;
          max-height: 650px;
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);
          // transition-delay: 0s, 0s, 0.1s;
          transition: max-height 0.6s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;          
        }
        &:hover .nav-menu-list-sub > li {
          max-height: 50px;
          visibility: visible;
          transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
        }
        &.active {
          background: #103b73;
          box-shadow: inset 1px 2px 10px rgba(0,0,0,0.3);
        }
        .nav-menu-list-name {
          display: block;
          height: 45px;
          line-height: 45px;
          text-align: center;
          color: #fff;
          text-decoration: none;
          @include respond-to($phone) {
            padding: 0 5px;
          }
        }
        &-sub {
          // display: none;
          // visibility: hidden;
          position: absolute;
          top: 100%;
          left: 0;
          // overflow: hidden;
          opacity: 0;
          z-index: -1;
          width: 100%;
          min-width: 160px;
          max-height: 0;
          background: #fff;
          transition: max-height 0.75s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;          
          
          // -webkit-transition: all .25s ease-in-out;
          // -moz-transition: all .25s ease-in-out;
          //  -ms-transition: all .25s ease-in-out;
          //   -o-transition: all .25s ease-in-out;
          //      transition: all .25s ease-in-out;
          > li {
            visibility: hidden;
            max-height: 0;
            transition: max-height 0.25s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
          }
          .cantmove {
            cursor: default;
            position: relative;
          }
          li {
            transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
            &:hover, &:focus {
              background: #999;
            }
            &:hover > a, &:focus > a {
              color: #fff;
            }
            &:hover li {
              display: block;
            }
            a {
              padding: 13.6px 8px 13.6px 8px;
              display: block;
              color: #333;
              text-decoration: none;
              // height: 100%;                 
            }
            span {
              float: right;
              // font-size: 16px;
              font-weight: 500;
              margin-right: 12px;
              line-height: 1;
            }
          }
          &-detail {
            width: 160px;
            background: #fff;
            position: absolute;
            left: 100%;
            top: 0;
            li {
              display: none;
            }
          }
          .solution {
            width: 100%;
          }
          .partner {
            position: absolute;
            top: 0;
            width: 100%;              
          }
          .ir-detail {
            top: 89px;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }  
}

.header-mobile {
  display: none;
  @include respond-to($phone) {
    display: block;
  } 
  .nav-btn {
    display: inline-block;
    width: 60px;
    height: 45px;
    position: absolute;    
    top: 25px;
    left: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    z-index: 200;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #103b73;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }
    span:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    
    span:nth-child(2) {
      top: 18px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    
    span:nth-child(3) {
      top: 36px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    
    &.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
    }
    
    &.open span:nth-child(2) {
      width: 0%;
      opacity: 0;
    }
    
    &.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 39px;
      left: 8px;
    }
  }
  .nav-container {
    display: none;
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 100px 0;
    .nav-menu-moblie {
      width: 100%;
    }
    .nav-menu-list-moblie {
      width: 100%;
      display: inline-block;      
      &.active {
        .nav-menu-list-name {
          border-bottom: 1px solid #103b73;
        }
        .nav-menu-list-sub {
          display: block;          
          max-height: 650px;
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);          
          transition: max-height 0.6s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;          
          > li {
            max-height: unset;            
            visibility: visible;
            transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
            &.active {
              .nav-menu-list-sub-title {
                border-bottom: 1px solid #103b73;                
              }
              .nav-menu-list-sub-detail {
                border-bottom: 1px solid #103b73;
                border-left:1px solid #103b73;
                display: block;
                float: right;
                opacity: 1;
                li {
                  display: block;
                }
              }
            }
          }          
        }
      }      
      .nav-menu-list-name {
        color: black;              
        border-top: 1px solid #dedede;                 
        padding: 10px 0;
        font-size: 20px;
        text-align: center;
        position: relative;
        .arrow-down {
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -7px;
          box-sizing: border-box;
          height: 10px;
          width: 10px;
          border-style: solid;
          border-color: black;
          border-width: 0px 1px 1px 0px;
          transform: rotate(45deg);
          transition: border-width 150ms ease-in-out;          
        }
      }
      .nav-menu-list-sub {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        display: none;
        &:after {
          background: #eee;
          content: '';
          display: block;
         *zoom: 1;
          width: 1px;
          height: 100%;
          position: absolute;
          top:0;
          left: 50%;
        }
        li {
          position: unset;
          &:last-child {
            .nav-menu-list-sub-title {
              border-bottom: none;
            }
          }
          a {
            display: inline-block;          
            padding: 15px 8px;
            height: 45px;
            width: 100%;
          }
        }
        .nav-menu-list-sub-title {
          border-bottom: 1px solid #eee;
          width: 50%;
          display: inline-block;
          padding: 15px 8px;
          height: 45px;
        }
        .nav-menu-list-sub-detail {        
          width: 50%;
          position: absolute;
          top: 0;
          left: unset; 
          right: 0;       
          display: inline-block;
          z-index: 200;
          opacity: 0;
          transition: opacity 0.3s ease;
          li {          
            border-bottom: 1px solid #dedede;
            position: relative;
            margin-top: -1px;
            box-sizing: border-box;
            &:last-child {
              border: none;
            }
          }
        }
      }
    }    
  }
}