@import './config';

// .container-fluid {
//   padding: 0;
  header {
    background: #fff;
    height: 140px;
    .logo-wrapper {
      // width: 1050px;
      width: 100%;
      height: 95px;
      margin: 0 auto;
      padding: 32px 0 32px 0;
      h1 {
        .icraft-logo {
          height: 30px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .nav-container {
      width: 100%;      
      background: $color-key;
      height: 45px;
      .nav-menu {
        display: table;
        margin: 0 auto;
        a {
          font-size: 14px;
          // font-size: 1.05vw;
          @include respond-to($phone) {
            font-size: 10px;
          }
          @include respond-to($tablet) {
            font-size: 12px;
          }
        }
        &-list {
          display: table-cell;
          position: relative;
          height: 100%;
          float: left;
          // width: 100%;
          min-width: 12vw;
          // min-width: 160px;
          cursor: pointer;
          &:hover .nav-menu-list-sub {
            display: block;
            visibility: visible;
          }
          .nav-menu-list-name {
            display: block;
            height: 45px;
            padding-top: 15px;
            padding-left: 12px;
            color: #fff;
            text-decoration: none;
          }
          &-sub {
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            min-width: 160px;         
            height: auto;
            background: #fff;
            display: none;
            visibility: hidden;
            .cantmove {
              cursor: default;
              position: relative;              
            }
            li {
              display: block;
              // font-size: 14px;
              border-bottom: 1px solid #d4d4d4;
              transition: 0.3s all;
              &:hover, &:focus {
                background: #999;
                border-bottom: 1px solid #999;
              }
              &:hover li {
                display: block;
              }
              a {
                padding: 13.6px 8px 13.6px 8px;
                display: block;
                color: #333;
                text-decoration: none;
                height: 100%;
              }
              span {
                float: right;
                // font-size: 16px;
                font-weight: 500;
                margin-right: 12px;
                line-height: 1;
              }
            }
            &-detail {
              width: 160px;
              background: #fff;
              position: absolute;
              left: 100%;
              top: 0;
              li {
                display: none;
              }
            }
            .solution {
              width: 100%;
            }
            .partner {
              position: absolute;
              top: 0;
              width: 100%;              
            }
            .ir-detail {
              top: 89px;
              position: absolute;
              top: 0;
            }
          }
        }
        .list-ir {
          padding-left: 22px;
        }
      }
    }
  }
// }
