@import './config';

header {
  background: #fff;
  height: 140px;
  .logo-wrapper {
    // width: 1050px;
    width: 100%;
    height: 95px;
    margin: 0 auto;
    padding: 32px 0 32px 0;
    h1 {
      .icraft-logo {
        height: 30px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .nav-container {
    width: 100%;      
    background: $color-key;
    height: 45px;
    .nav-menu {
      display: table;
      margin: 0 auto;

      a {
        font-size: 14px;
        // font-size: 1.05vw;
        @include respond-to($phone) {
          font-size: 10px;
        }
        @include respond-to($tablet) {
          font-size: 12px;
        }
      }
      &-list {
        display: table-cell;
        position: relative;
        height: 100%;
        float: left;
        min-width: 200px;        
        @include respond-to($phone) {
          min-width: 12vw;
        }
        @include respond-to($tablet) {
          min-width: 12vw;
        }
        cursor: pointer;
        &:hover .nav-menu-list-sub,
        &:focus .nav-menu-list-sub,
        &:focus-within .nav-menu-list-sub, {
          // display: block;
          // visibility: visible;
          max-height: 650px;
          opacity: 1;
          z-index: 1;
          transform: translateY(0%);
          // transition-delay: 0s, 0s, 0.1s;
          transition: max-height 0.6s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;          
        }
        &:hover .nav-menu-list-sub > li {
          max-height: 50px;
          visibility: visible;
          transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
        }
        .nav-menu-list-name {
          display: block;
          height: 45px;
          padding-top: 15px;
          padding-left: 12px;
          color: #fff;
          text-decoration: none;
        }
        &-sub {
          // display: none;
          // visibility: hidden;
          position: absolute;
          top: 100%;
          left: 0;
          // overflow: hidden;
          opacity: 0;
          z-index: -1;
          width: 100%;
          min-width: 160px;
          max-height: 0;
          background: #fff;
          transition: max-height 0.75s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;          
          
          // -webkit-transition: all .25s ease-in-out;
          // -moz-transition: all .25s ease-in-out;
          //  -ms-transition: all .25s ease-in-out;
          //   -o-transition: all .25s ease-in-out;
          //      transition: all .25s ease-in-out;
          > li {
            visibility: hidden;
            max-height: 0;
            transition: max-height 0.25s ease-in-out 0s, visibility 0s linear 0.15s, z-index 0s linear 0.01s;
          }
          .cantmove {
            cursor: default;
            position: relative;              
          }
          li {
            transition: all 0.25s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
            &:hover, &:focus {
              background: #999;
            }
            &:hover > a, &:focus > a{
              color: #fff;
            }
            &:hover li {
              display: block;
            }
            a {
              padding: 13.6px 8px 13.6px 8px;
              display: block;
              color: #333;
              text-decoration: none;
              // height: 100%;                 
            }
            span {
              float: right;
              // font-size: 16px;
              font-weight: 500;
              margin-right: 12px;
              line-height: 1;
            }
          }
          &-detail {
            width: 160px;
            background: #fff;
            position: absolute;
            left: 100%;
            top: 0;
            li {
              display: none;
            }
          }
          .solution {
            width: 100%;
          }
          .partner {
            position: absolute;
            top: 0;
            width: 100%;              
          }
          .ir-detail {
            top: 89px;
            position: absolute;
            top: 0;
          }
        }
      }
      .list-ir {
        padding-left: 22px;
      }
    }
  }
}
