@charset "UTF-8";
// @import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@font-face {
  font-family: 'Spoqa Han Sans';
  src:url('../fonts/SpoqaHanSansRegular.woff') format('woff'),
    url('../fonts/SpoqaHanSansRegular.woff2') format('woff2');
}
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  /* font-family: inherit; */
  /* font-family: 'Roboto', sans-serif; */
  // font-family: 'NanumSquare', sans-serif; 
  font-family: 'Spoqa Han Sans'; 
  font-weight: inherit;
  font-style: inherit;
  font-size: 14px;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

html, body {
  height: 100%; }

body {
  background-color: #eee !important;
  line-height: 1.2;
  /*- 한글 기준은 1.2 -*/
  color: black; }

ol, ul, a {
  list-style: none;
  text-decoration: none; }

/* tables still need cellspacing="0" in the markup */
table {
  
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

legend, caption {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
}

* {
  box-sizing: border-box; }
