@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include ir-img;
}
article {
  .article {
    .article-wrapper {
      max-width: 870px;
      width: 100%;
      margin: 0 auto;  
      .get-btn {
        background-color: #23527c;
        color: white;
        border-radius: 2px;
        display: block;
        margin: 0 auto;  
        margin-top: 50px;
        padding:10px; 
        width: 150px;
        text-align: center;
      }  
      > ul {      
        padding: 10px 5px;
        > li {
          margin: 5px 10px 15px 10px;
          h4 {
            font-weight: bold;
            font-size: 15px;
          }
          table {
            margin-top: 15px;          
          }
          li {
            margin: 5px 10px;
          }
        }
      }  
      p {
        font-size: 15px;
        line-height: 20px;
      }
      .more-wrap {
        max-width: 870px;
        .more {
          margin: 0 auto;
          width: 14vw;
          height: 5.8vh;
          border: none;
          border-radius: 25px;
          .show-more {
            width: 100%;
            height: auto;
            padding: 10px 0;
            line-height: 2;
            color: #fff;
            font-size: 18px;
            // font-size: 1.5vw;
            background: $color-key;
            border: none;        
            border-radius: 50px;
            @include respond-to($phone) {
              font-size: 10px;
            }
            @include respond-to($tablet) {
              font-size: 14px;
            }
          }
        }
      }
      table {
        width:100%;
        tr + tr {
          &:hover {
            background-color: #eee;
          }
        }
        th {        
          border-top: none !important;
          border-bottom:1px solid #666;
          padding: 20px 0 !important;
          text-align: center;        
          font-weight: 600;
          font-size: 16px;        
        }   
        td {
          padding: 20px 0 !important;;
          text-align: center;
        }
      }
      .pagination {    
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 300px;
        height: auto;
        text-align: center;
        font-size: 0;      
        li {
          display:inline-block;
          a {
            color: #666;  
            border:none;        
            font-size: 15px;
            font-weight: 900;
            img {
              display: inline-block;
              width: 12px;
              vertical-align: middle;
            }
            &:focus {
              background-color: inherit;
            }
            &.page-num {
              background-color:  inherit;           
              margin: 0 10px;
              &:hover {
                color: #337ab7;
              }
            }
          }
          &.page-arrow {
            margin: 0 1px;
            a {
              border: 1px solid #eee;
              border-radius: 0;
              margin-left: 0;
            }          
          }
        }        
      }    
    }
  }
}