@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  background: url('../img/img-test.png') no-repeat center top;  
}
article {
  .article {
    .article-wrapper {     
      .emp-kr {
        margin-top: 40px;
      }
      img {
        width: 100%;
      }
      .ci-info {
        // width: 870px;
        margin: 10px 0;
        // float: left;
      }
    }
  }
}