@import './reset';  
@import './common';

section {
  background: url('../img/img-test.png') no-repeat center top;  
}
article {
  .article {
    .article-wrapper {     
      .txt-detail {
        // width: 870px;
        margin: 40px 0;
        font-size: 1.5vw;
        // font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        color: #333;
      }
      .emp {
        font-size: 1.8vw;
        // font-size: 23px;
        font-weight: 600;
        color: #174A8E;
        padding-bottom: 10px;
      }
      .emp-kr {
        margin-top: 40px;
      }
      img {
        // width: 100%;
      }
      .ci-info {
        // width: 870px;
        margin: 10px 0;
        // float: left;
      }
    }
  }
}