@import './reset';
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include company-img;
}
article {
  .article {
    .article-text {
      letter-spacing: -0.8px !important; 
    }
    .txt-box {
      float: left;
      width: 600px;
      margin-right: 25px;
      @include respond-to($phone) {
        width: 100%;
      }
      @include respond-to($tablet) {
        width: 100%;
      }
      @include respond-to($desktop) {
        min-width: 470px;
      }
      .emp-2 {
        width: 450px;
        // font-size: 1.6vw;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 20px;
        @include respond-to($phone) {
          font-size: 13px;          
          width: 100%;
        }
        @include respond-to($tablet) {
          font-size: 16px;
          width: 100%;
        }
      }
    }
    .img-wrapper {
      overflow: hidden;
      @include respond-to($phone) {
        width: 100%;
        margin: 0 auto;        
      }
      @include respond-to($tablet) {
        width: 100%;
        margin: 0 auto;
      }
      .img-ceo {
        float: right;
        width: 100%;
        // width: 330px;
        height: 70%;
        object-fit: cover;
        vertical-align: middle;
        @include respond-to($phone) {
          width: 100%;
          height: 300px;
          margin-bottom: 30px;
        }
        @include respond-to($tablet) {
          width: 100%;
          height: 350px;
          margin-bottom: 30px;
        }
        @include respond-to($desktop) {
          width: 100%;
          min-height: 500px;
          max-height: 565px;
          height: 50%;
        }
      }
      .img-sign {
        float: right;
        margin-top: 25px;
        width: 150px;
        height: 35px;
        object-fit: cover;
        vertical-align: middle;
      }
      .ceo-name {
        float: right;
        font-size: 16px;        
        // font-size: 1.2vw;        
        font-weight: 600;
        margin-top: 30px;
        @include respond-to($phone) {
          float: none;
          text-align: right;
          font-size: 12px;
        }
        @include respond-to($tablet) {
          float: none;
          text-align: right;
          font-size: 14px;
        }
      }
    }
  }
}