.container-fluid {
  padding: 0;
  header {
    background: #fff;
    height: 140px;
    .logo-wrapper {
      width: 1050px;
      height: 95px;
      margin: 0 auto;
      padding: 32px 0 32px 0;
      h1 {
        .icraft-logo {
          height: 30px;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .nav-container {
      background: #174A8E;
      height: 45px;
      .nav-menu {
        width: 1050px;
        margin: 0 auto;
        padding: 0 75px 0 175px;
        &-list {
          font-size: 16px;
          position: relative;
          height: 45px;
          float: left;
          width: 160px;
          cursor: pointer;
          &:hover .nav-menu-list-sub {
            display: block;
            visibility: visible;
          }
          .nav-menu-list-name {
            display: block;
            padding: 14.1px 0;
            padding-left: 12px;
            color: #fff;
            text-decoration: none;
          }
          &-sub {
            position: absolute;
            left: 0;
            width: 160px;
            height: 225px;
            background: #fff;
            display: none;
            visibility: hidden;
            .cantmove {
              cursor: default;
            }
            li {
              display: block;
              font-size: 14px;
              border-bottom: 1px solid #d4d4d4;
              transition: 0.3s all;
              &:hover, &:focus {
                background: #999;
                border-bottom: 1px solid #999;
              }
              &:hover li {
                display: block;
              }
              a {
                padding: 13.6px 0 13.6px 15px;
                display: block;
                color: #333;
                text-decoration: none;
              }
              span {
                float: right;
                font-size: 16px;
                font-weight: 500;
                margin-right: 12px;
                line-height: 1;
              }
            }
            &-detail {
              width: 160px;
              background: #fff;
              position: absolute;
              left: 100%;
              top: 0;
              li {
                display: none;
              }
            }
            .solution {
              width: 212px;
            }
            .partner {
              top: 135px;
              width: 212px;              
            }
            .ir-detail {
              top: 90px;
            }
          }
          .info-busi {
            height: 180px;
          }
          .info-ir {
            height: 135px;
          }
          .info-recruit {
            height: 90px;
          }
          .info-customer {
            height: 90px;
          }
        }
        .list-ir {
          padding-left: 22px;
        }
      }
    }
  }
  section {
    width: 1050px;
    margin: 0 auto;
    .location {
      margin: 15px 0 10px 0;
      color: #666;
      font-size: 12px;
      font-weight: 600;
      a {
        font-size: 12px;   
        color: #666;
        text-decoration: none;
      }
      span {
        display: inline-block;
        width: 20px;
        font-size: 12px;        
        text-align: center;
      }
    }   
    .img-wrapper {
      height: 400px;
      background: url('../img/img-test-1.png') no-repeat center top;
    }
    .small-menu {
      background: #333;
      height: 40px;
      padding: 0 125px;
      &-list {
        cursor: pointer;        
        display: block;
        margin: 0 auto;
        a {
          height: 40px;
          padding-top: 13px;
          float: left;
          width: 160px;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          text-align: center;
          &:hover, 
          &:focus {
            border-bottom: 5px solid #fff;
          }
        }
        .ative-menu {
          border-bottom: 5px solid #fff;
        }
      }
    }
    .article-1 {
      margin: 60px 0;
      background: #fff;
      padding: 60px 0;
      .ceo-msg {
        color: #333;
        font-size: 40px;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin-bottom: 40px;
        margin-right: 8.33333333%;
      }
      .txt-box {
        float: left;
        width: 530px;
        .emp {
          font-size: 23px;
          font-weight: 600;
          color: #174A8E;
          padding-bottom: 10px;
        }
        .emp-2 {
          width: 450px;
          font-size: 20px;
          font-weight: 600;
          color: #333;
        }
        .txt-detail {
          width: 460px;
          margin-top: 40px;
          font-size: 16px;
          font-weight: 500;
          text-align: left;
          line-height: 1.5;
          color: #333;
        }
        .ceo-name {
          font-weight: 600;
        }
      }
      .img-ceo {
        float: right;
        width: 330px;
        margin-right: 8.33333333%;
      }
      .img-sign {
        float: right;
        margin-top: 25px;
        margin-right: 8.33333333%;        
      }
    }
    .article-1:after {
      content: "";
      display: block;
      clear: both;
    }
  }
  footer{
    .footer-wrapper {
      width: 100%;
      height: 100px;
      background: #333;
      padding: 37px 0;
      .text-area {
        line-height: 1.4;
        width: 1050px;        
        margin: 0 auto;
        a {
          img {
            float: left;
            width: 150px;
            margin-right: 25px;
          }
        }
        p {
          float: left;
          font-size: 13px;
          font-weight: 100;
          color: #d4d4d4;
        }
      }
    }
  }
}
