@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include company-img;
}
article {
  .article {
    .article-wrapper {
      .emp {
        font-size: 14.8px;
        padding-bottom: 0;
        @include respond-to($phone) {
          font-size: 11px; 
        }
        @include respond-to($tablet) {
          font-size: 13px; 
        }
        @include respond-to($desktop) {
          font-size: 14.5px; 
        }
      }
      table {
        margin: 20px 0 50px 0;
        th {
          text-align: center;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 10px; 
          }
          @include respond-to($tablet) {
            font-size: 12px; 
          }
        }
        td {
          vertical-align: middle;
          letter-spacing: -0.8px;
          @include respond-to($phone) {
            font-size: 10px; 
          }
          @include respond-to($tablet) {
            font-size: 12px; 
          }
        }
        .subject {
          text-align: center;
        }
      }
      .article-img-group {
        .article-img {
          float: left;
          width: 50%;
          height: 280px;
          object-fit: cover;
          vertical-align: middle;
          margin-bottom: 50px;
          @include respond-to($phone) {
            width: 100%;
            height: 200px;     
          }
        }
      }
    }
  }
}