@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  background: url('../img/img-test.png') no-repeat center top;  
}
article {
  .article-wrapper {
    .article-img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      vertical-align: middle;
      @include respond-to($phone) {
        height: auto;     
      }
    }
    .article-box {
      margin-bottom: 80px;
      .article-left {
        width: 45%;
        float: left;
        margin-right: 30px;
        // .img {
        //   height: 280px;
        //   background: {
        //     image: url('../img/coworkers.jpg');
        //     color: #000;
        //     repeat: no-repeat;
        //     size: cover; 
        //   }
        //   @include respond-to($phone) {
        //     height: 165px;
        //   }
        // }
        @include respond-to($phone) {
          width: 100%;
        }
        .article-text {
          font-weight: 600;          
          border-top: 1px solid $color-key;
          border-bottom: 1px solid $color-key;
          padding: 15px 10px 15px 10px;
          text-align: center;
        }
      }
      .article-right {
        width: 50%;
        @include respond-to($tablet) {
          width: 45%;
        }
        display: inline-block;
        .text-group {
          .text-title {
            font-size: 18px;
            font-weight: 600;
            @include respond-to($phone) {
              font-size: 14px;
            }
            @include respond-to($tablet) {
              font-size: 16px;
            }
            span {
              font-size: 14px;
              color: $color-key;
              padding-left: 10px;
              @include respond-to($phone) {
                font-size: 10px;
              }
              @include respond-to($tablet) {
                font-size: 12px;
              }
            }
          }
          .article-text {
            margin: 5px 0 20px 0;
          }
        }
        @include respond-to($phone) {
          width: 100%;
          float: none;
        }
      }
    }
    .article-box-2 {
      height: auto;      
      margin-bottom: 110px;   
      .article-left {
        float: left;
        width: 60%;
        height: 100%;
        .article-text {
          margin: 10px 0;
        }
        @include respond-to($phone) {
          width: 100%;
        }
        @include respond-to($tablet) {
          width: 50%;
        }
      }
      .article-right {
        width: 40%;
        float: right;
        @include respond-to($phone) {
          width: 100%;
        }
        @include respond-to($tablet) {
          width: 45%;
        }
      }
    }
    .article-box-2:after {
      content: "";
      display: block;
      clear: both;
    }
    .article-box-3 {
      height: auto;
      .article-img-group {
        width: 100%;
        .article-text {
          font-weight: 600;
          border-top: 1px solid $color-key;
          border-bottom: 1px solid $color-key;
          padding: 25px 42px 25px 42px;
          text-align: center;
          margin: 30px auto;
          @include respond-to($phone) {
            padding: 15px 10px 15px 10px;
          }
        }
      }
      .article-text-group {
        width: 100%;
        height: 100%;   
      }
    }
  }
}