@import './reset';  
@import './common';
@import './config';

section {
  background: {
    image: url('../img/img-test.png');
    repeat: no-repeat;
    size: cover; 
    position: center;  
  }
}
.article-wrapper {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  .article-history {
    border-bottom: 2px solid #eee;
    padding-bottom: 40px;
    margin-bottom: 40px;
    @include respond-to($phone) {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  } 
  .history-years {
    float: left;
    color: $color-key;
    font-size: 34px;
    // font-size: 3vw;
    font-weight: bold;
    margin-right: 50px;
    @include respond-to($phone) {
      width: 100%;
      font-size: 20px;
    }
    @include respond-to($tablet) {
      font-size: 28px;
    }
  }
  .history-content {
    float: left;
    @include respond-to($phone) {
      margin-top: 20px;
    }
    p {
      line-height: 2;
      .history-month {
        // color: $color-key;          
        margin-right: 20px;
        font-size: 18px;
        // font-size: 1.5vw;
        font-weight: 600;
        @include respond-to($phone) {
          font-size: 10px;
        }
        @include respond-to($tablet) {
          font-size: 14px;
        }
      }
      font-size: 18px;
      @include respond-to($phone) {
        font-size: 10px;
      }
      @include respond-to($tablet) {
        font-size: 14px;
      }
      // font-size: 1.5vw;
    }
  }
  .more-wrap {
    max-width: 870px;
    .more {
      margin: 0 auto;
      width: 14vw;
      height: 5.8vh;
      border: none;
      border-radius: 25px;
      .show-more {
        width: 100%;
        height: auto;
        padding: 10px 0;
        line-height: 2;
        color: #fff;
        font-size: 18px;
        // font-size: 1.5vw;
        background: $color-key;        
        border: none;        
        border-radius: 50px;
        @include respond-to($phone) {
          font-size: 10px;
        }
        @include respond-to($tablet) {
          font-size: 14px;
        }
      }
    }
  }
  .article-history:after {
    content: "";
    display: block;
    clear: both;
  }
}