@import './reset';
@import './common';
@import './config';
@import './header';
@import './footer';

.container-fluid {
  section {
    .img-wrapper {
      height: 550px;
      .item1 {
        background: {
          image: url('../img/bg1.jpg');
          repeat: no-repeat;
          size: cover; 
        }
      }
      .item2 {
        background: {
          image: url('../img/bg2.jpg');
          repeat: no-repeat;
          size: cover; 
        }
      }
      .item3 {
        background: {
          image: url('../img/company2.jpg');
          repeat: no-repeat;
          size: cover; 
        }
      }

      .item1, .item2, .item3 {
        width: 100%;
        height: 550px;
        .item-text {
          font-size: 40px;
          text-align: center;
          text-shadow: 3px 3px 4px #000;
          color: #fff;
          padding: 250px 0;
        }
      }
    }
  }
  article {
    .article {
      background: none;
      padding: 90px 0px;
      .article-1 {
        margin-bottom: 50px;
        .article-left {
          width: 48.8%;
          float: left;
          margin-right: 23px;
          overflow: hidden;          
          a {
            text-decoration: none;  
            .main-box {
              height: 405px;
              transition: all .1s ease-in-out;
              background: {
                image: url('../img/mbg-company-info.jpg');
                repeat: no-repeat;
                size: cover; 
              }
              .box-title {
                display: inline-block;
                color: #fff;
                font-size: 30px;
                margin: 30px;
                &:after {
                  display: block;
                  content: '';
                  padding-bottom: 10px;                  
                  border-bottom: solid 3px #fff;  
                  transform: scaleX(0);  
                  transition: transform 200ms ease-in-out;
                }
              }
              &:hover{
                transform: scale(1.01);
              }  
              &:hover > .box-title:after{
                transform: scaleX(1);
              }  
              &-bottom {
                padding: 25px 25px;
                height: 70px;
                background: #fff;
                p {
                  font-size: 20px;
                  color: #333;
                  span {
                    float: right;
                    font-size: 20px;              
                  }
                }
              }
            }
          }
        }
        .article-right {
          width: 49%;
          float: right;
          a {
            text-decoration: none;
            .main-box {
              position: relative;
              display: inline-block;
              width: 47.5%;
              height: 225px;
              margin-bottom: 25px;
              .box-title {
                display: inline-block;
                color: #fff;
                font-size: 22px;
                font-weight: lighter;              
                margin: 25px;
                &:after {
                  display: block;
                  content: '';
                  padding-bottom: 10px;                  
                  border-bottom: solid 2px #fff;  
                  transform: scaleX(0);  
                  transition: transform 200ms ease-in-out;
                }
              }
              &-2 {
                background: {
                  image: url('../img/mbg-solution-info.jpg');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
              &-3 {
                background: {
                  image: url('../img/mbg-ir-info.jpg');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
              &-4 {
                background: {
                  image: url('../img/mbg-rc-info.jpg');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
              &-5 {
                background: {
                  image: url('../img/mbg-cus-info.jpg');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
              &:hover{
                transform: scale(1.01);
              }  
              &:hover > .box-title:after{
                transform: scaleX(1);
              }  
              &-bottom {
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 55px;
                background: #fff;
                padding: 20px 15px;
                p {
                  color: #333;
                  span {
                    float: right;
                  }
                }
              }
            }
          }
          .box-right {
            margin-right: 22px;
          }
          &-left {
            margin-right: 23px;
          }
        }
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
      .article-2 {
        .second-box {
          width: 23.2%;
          height: 420px;
          background: #fff;
          // background: #2f3238;
          margin-right: 25px;
          padding: 35px;
          float: left;
          a {
            text-decoration: none;
            color: #333;
            .box-title {
              color: #333;
              font-size: 25px;
              font-weight: lighter;
              padding-bottom: 20px;
              border-bottom: 1px solid #333;
              margin-bottom: 35px;
            }
            .box-img {
              width: 100%;
              height: 53%;
              margin-bottom: 35px;            
              // border-radius: 50%;
              &-1 {
                background: {
                  image: url('../img/main-message-icon.png');
                  repeat: no-repeat;
                  size: cover; 
                  position-x: -16px;
                }
              }
              &-2 {
                background: {
                  image: url('../img/main-overview-icon.png');
                  repeat: no-repeat;
                  size: cover; 
                  position-x: -16px;                  
                }
              }
              &-3 {
                background: {
                  image: url('../img/main-history-icon.png');
                  repeat: no-repeat;
                  size: cover; 
                  position-x: -16px;                  
                }
              }
              &-4 {
                background: {
                  image: url('../img/main-history-icon.png');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
            }
            .box-wrap {
              max-width: 100%;
              .detail-wrap {
                margin: 0 auto;
                width: 150px;
                button {
                  width: 100%;
                  height: auto;
                  border: 1px solid #333;
                  border-radius: 25px;
                  padding: 10px 0;
                  &:hover {
                    background: #333;
                    color: #fff;
                  }
                }
              }
            }
          }
          &-last {
            margin-right: 0;
          }
        }
      }
    }
  }
}