@import './reset';
@import './common';
@import './config';
@import './header';
@import './footer';

@keyframes img {
  0% {
    opacity: 0.9;    
  }
	100% {
    opacity: 1;
    transform: scale(1.1);
    // transform: translate3d(-58px, 0px, 0px);
	}
}
@keyframes text {
  0% {
    opacity: 0;
  }
	100% {
    opacity: 1;
    transform: translate3d(5%, 0px, 0px);
	}
}

.container-fluid {
  section {
    .img-wrapper {
      height: 580px;
      @include respond-to($phone) {  
        height: 400px;
      }
      @include respond-to($tablet) {
        height: 450px;
      }
      @include respond-to($large-desktop2) {
        height: 700px;
      }
      .item1 {
        background: {
          image: url('../img/bg1.jpg');
          repeat: no-repeat;
          size: cover; 
        }
        animation: img 8s infinite;

      }
      .item2 {
        background: {
          image: url('../img/green.jpg');
          repeat: no-repeat;
          size: cover; 
          position-y: -220px; 
        }
        animation: img 8s infinite;
      }
      .item3 {
        background: {
          image: url('../img/bg3.jpg');
          repeat: no-repeat;
          size: cover; 
        }
        animation: img 8s infinite;
      }

      .item1, .item2, .item3 {
        width: 100%;
        height: 580px;
        @include respond-to($phone) {  
          height: 400px;
        }
        @include respond-to($tablet) {
          height: 450px;
        }
        @include respond-to($large-desktop2) {
          height: 700px;
        }
        .item-text {
          margin-left: -10%;
          font-size: 40px;
          text-align: center;
          text-shadow: 3px 3px 4px #000;
          color: #fff;
          padding: 250px 0;
          animation: text 8s infinite;
          @include respond-to($phone) {  
            font-size: 20px;
            padding: 180px 35px;            
          }
          @include respond-to($tablet) {
            font-size: 24px;
            padding: 200px 0;            
          }
          @include respond-to($large-desktop2) {
            padding: 330px 0;
          }
        }
      }
      .carousel-control {
        .glyphicon {
          position: relative;
          top: 45%;
          font-size: 25px;
        }
      }
    }
  }
  article {
    .article {
      background: none;
      padding: 90px 0px;
      @include respond-to($phone) {  
        margin: 0;
        padding: 50px 0px;        
      }
      @include respond-to($tablet) {
        margin: 0;
        padding: 50px 0px;        
      }
      .article-1 {
        margin-bottom: 50px;
        .article-left {
          width: 48.8%;
          float: left;
          margin-right: 23px;
          overflow: hidden;
          @include respond-to($phone) {  
            width: 100%;
            margin-right: 0;
          }
          @include respond-to($tablet) {
            width: 100%;
            margin-right: 0;       
          }
          a {
            text-decoration: none;  
            .main-box {
              height: 405px;
              transition: all .1s ease-in-out;
              background: {
                image: url('../img/mbg-company-info.jpg');
                repeat: no-repeat;
                size: cover; 
              }
              @include respond-to($phone) {  
                height: 150px;
              }
              @include respond-to($tablet) {
                height: 200px;
              }
              .box-title {
                display: inline-block;
                color: #fff;
                font-size: 30px;
                margin: 30px;
                @include respond-to($phone) {  
                  font-size: 14px;
                  margin: 20px;
                }
                @include respond-to($tablet) {
                  font-size: 18px;
                  margin: 25px;
                }
                &:after {
                  display: block;
                  content: '';
                  padding-bottom: 10px;                  
                  border-bottom: solid 3px #fff;  
                  transform: scaleX(0);  
                  transition: transform 200ms ease-in-out;
                }
              }
              &:hover{
                transform: scale(1.01);
              }  
              &:hover > .box-title:after{
                transform: scaleX(1);
              }  
              &-bottom {
                padding: 25px;
                height: 70px;
                background: #fff;
                @include respond-to($phone) {  
                  height: 35px;
                  padding: 10px 20px;
                }
                @include respond-to($tablet) {
                  height: 40px;
                  padding: 13px 20px;                  
                }
                p {
                  font-size: 20px;
                  color: #333;
                  @include respond-to($phone) {  
                    font-size: 12px;
                  }
                  @include respond-to($tablet) {
                    font-size: 14px;
                  }
                  span {
                    float: right;        
                  }
                }
              }
            }
          }
        }
        .article-right {
          width: 49%;
          float: right;
          @include respond-to($phone) {  
            width: 100%;
            margin-right: 0;
            margin-top: 25px;
          }
          @include respond-to($tablet) {
            width: 100%;
            margin-right: 0;
            margin-top: 25px;
          }
          a {
            text-decoration: none;
            display: block;
            float: left;
            width: 244px;
            @include respond-to($phone) { 
              width: 100%;
            }
            @include respond-to($tablet) {
              width: 100%;
            }
            .main-box {
              position: relative;
              display: inline-block;
              width: 100%;
              // width: 47.5%;
              height: 225px;
              @include respond-to($phone) { 
                height: 160px;
              }
              @include respond-to($tablet) {
                height: 200px;
              }
              .box-title {
                display: inline-block;
                color: #fff;
                font-size: 22px;
                font-weight: normal;              
                margin: 25px;
                @include respond-to($phone) {  
                  font-size: 14px;
                  margin: 20px;
                }
                @include respond-to($tablet) {
                  font-size: 18px;
                  margin: 25px;
                }
                &:after {
                  display: block;
                  content: '';
                  padding-bottom: 10px;                  
                  border-bottom: solid 2px #fff;  
                  transform: scaleX(0);  
                  transition: transform 200ms ease-in-out;
                }
              }
              &-2 {
                background: {
                  image: url('../img/mbg-solution-info.jpg');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
              &-3 {
                background: {
                  image: url('../img/mbg-ir-info.jpg');
                  repeat: no-repeat;
                  size: cover; 
                }
              }
              &-4 {
                margin-top: 25px;
                background: {
                  image: url('../img/mbg-rc-info.jpg');
                  repeat: no-repeat;
                  size: cover;
                }
              }
              &-5 {
                margin-top: 25px;                
                background: {
                  image: url('../img/mbg-cus-info.jpg');
                  repeat: no-repeat;
                  size: cover;
                }
              }
              &:hover{
                transform: scale(1.01);
              }  
              &:hover > .box-title:after{
                transform: scaleX(1);
              }  
              &-bottom {
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 55px;
                background: #fff;
                padding: 20px 15px;
                @include respond-to($phone) {  
                  height: 35px;
                  padding: 10px 20px;
                }
                @include respond-to($tablet) {
                  height: 40px;
                  padding: 13px 20px;                  
                }
                p {
                  font-size: 16px;
                  color: #333;
                  @include respond-to($phone) {  
                    font-size: 12px;
                  }
                  @include respond-to($tablet) {
                    font-size: 14px;
                  }
                  span {
                    float: right;
                  }
                }
              }
            }
          }
          .box-right {
            margin-right: 25px;
            &-tb {
              float: right;
            }
          }
          &-left {
            margin-right: 23px;
          }
        }
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
      .article-2 {
        margin-bottom: 50px;
        .second-box {
          width: 23.2%;
          height: 420px;
          background: #fff;
          // background: #2f3238;
          margin-right: 25px;
          padding: 35px;
          float: left;
          @include respond-to($phone) {  
            width: 45.5%;
            padding: 25px;
            height: 180px;            
            margin-bottom: 25px;          
          }
          @include respond-to($tablet) {
            width: 47.5%;
            padding: 25px;
            height: 250px;            
            margin-bottom: 25px;          
          }
          a {
            text-decoration: none;
            color: #333;
            .box-title {
              color: #333;
              font-size: 25px;
              font-weight: normal;
              padding-bottom: 20px;
              border-bottom: 1px solid #333;
              margin-bottom: 35px;
              @include respond-to($phone) {  
                font-size: 14px;
                text-align: center;
                padding-bottom: 10px;
                margin-bottom: 0;   
              }
              @include respond-to($tablet) {
                font-size: 18px;
                text-align: center;
                padding-bottom: 10px;
                margin-bottom: 0;
              }
            }
            .box-img {
              width: 100%;
              height: 41%;
              margin: 30px 0 70px 0;
              @include respond-to($phone) {  
                margin: 15px 0 0 0;  
              }
              @include respond-to($tablet) {
                margin: 25px 0;
              }
              > img {
                width: 100%;
                @include respond-to($phone) {
                  width: 50%;                  
                  margin: 0 25%;
                }
                @include respond-to($tablet) {
                  width: 50%;                  
                  margin: 0 25%;
                }
              }
              // &-1 {
              //   background: {
              //     image: url('../img/main-message-icon.png');
              //     repeat: no-repeat;
              //     size: cover; 
              //   }
              // }
              // &-2 {
              //   background: {
              //     image: url('../img/main-overview-icon.png');
              //     repeat: no-repeat;
              //     size: cover; 
              //   }
              // }
              // &-3 {
              //   background: {
              //     image: url('../img/main-history-icon.png');
              //     repeat: no-repeat;
              //     size: cover;
              //   }
              // }
              // &-4 {
              //   background: {
              //     image: url('../img/main-major-icon.png');
              //     repeat: no-repeat;
              //     size: cover;
              //     position-x: -5px;                  
              //   }
              // }
            }
            .box-wrap {
              max-width: 100%;
              .detail-wrap {
                margin: 0 auto;
                width: 150px;
                @include respond-to($phone) {  
                  width: 100%;
                }
                @include respond-to($tablet) {
                  width: 100%;
                }
                button {
                  width: 100%;
                  height: auto;
                  border: 1px solid #333;
                  border-radius: 25px;
                  font-size: 18px;
                  padding: 10px 0;
                  background: none;
                  @include respond-to($phone) {  
                    font-size: 8px;
                    padding: 5px 0;
                    margin-top: 10px;
                  }
                  @include respond-to($tablet) {
                    font-size: 10px;
                    padding: 5px 0;
                    margin-top: 15px;                    
                  }
                  &:hover {
                    background: $color-key;
                    border: none;
                    color: #fff;
                  }
                }
              }
            }
          }
          &-last {
            margin-right: 0;
          }
          &-right {
            @include respond-to($phone) {  
              margin-right: 0;
              float: right;
            }
            @include respond-to($tablet) {
              margin-right: 0;
              float: right;
            }
          }
        }
        &:after {
          display: block;
          content: "";
          clear: both;
        }
      }
      .article-3 {
        margin-bottom: 50px;
        @include respond-to($phone) {  
          margin-bottom: 0px;
        }
        @include respond-to($tablet) {
          margin-bottom: 0px;
        } 
        .article-left {
          width: 48.8%;
          float: left;
          margin-right: 23px;
          overflow: hidden;
          @include respond-to($phone) {  
            width: 100%;
            margin-bottom: 50px;
          }
          @include respond-to($tablet) {
            width: 100%;
            margin-bottom: 50px;
          } 
          a {
            text-decoration: none;  
            .main-box {
              height: 305px;
              transition: all .1s ease-in-out;
              background: {
                image: url('../img/img-test.png');
                repeat: no-repeat;
                size: cover; 
              }
              @include respond-to($phone) {  
                height: 200px;
              }
              @include respond-to($tablet) {
                height: 250px;
              }
              .box-title {
                display: inline-block;
                color: #fff;
                background: $color-key;
                font-size: 18px;
                padding: 12px;
                @include respond-to($phone) {  
                  font-size: 14px;
                }
                @include respond-to($tablet) {
                  font-size: 16px;
                }
              }
              &:hover{
                transform: scale(1.01);
              }  
              &:hover > .box-title:after{
                transform: scaleX(1);
              }  
              &-bottom {
                padding: 25px 25px;
                height: auto;
                background: #fff;
                .bottom-title {
                  font-size: 22px;
                  margin-bottom: 15px;
                  color: #333;
                  @include respond-to($phone) {  
                    font-size: 14px;
                  }
                  @include respond-to($tablet) {
                    font-size: 16px;
                  }
                }
                .bottom-txt {
                  font-size: 18px;
                  @include respond-to($phone) {  
                    font-size: 12px;
                  }
                  @include respond-to($tablet) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
        .article-right {
          position: relative;
          width: 48.8%;
          background: #fff;
          float: left;
          overflow: hidden;
          @include respond-to($phone) {  
            width: 100%;
          }
          @include respond-to($tablet) {
            width: 100%;
          }          
          a {
            text-decoration: none;  
            .main-box {
              height: 485px;
              transition: all .1s ease-in-out;
              // background: {
              //   image: url('../img/green-business-main.png');
              //   repeat: no-repeat;
              //   size: cover;
              //   position-x: -60px;
              // }
              @include respond-to($phone) {  
                height: 280px;
              }
              @include respond-to($tablet) {
                height: 400px;
              }
              > img {
                width: 100%;
              }
              .box-title {
                display: inline-block;
                color: #333;
                font-size: 24px;
                margin: 30px;
                @include respond-to($phone) {  
                  font-size: 14px;
                  margin: 30px 30px;
                }
                @include respond-to($tablet) {
                  font-size: 18px;
                  margin: 30px 30px;                  
                }
              }
              &:hover{
                transform: scale(1.005);
              }  
              &:hover > .box-title:after{
                transform: scaleX(1);
              }  
              &-bottom {
                position: absolute;
                bottom: 0;
                text-align: right;
                height: 40px;
                background: $color-key;
                width: 100%;
                .bottom-title {
                  font-size: 18px;
                  line-height: 1.6;
                  padding: 6px 15px 0 0;
                  color: #fff;
                  @include respond-to($phone) {  
                    font-size: 12px;
                    padding: 10px 15px 0 0;                    
                  }
                  @include respond-to($tablet) {
                    font-size: 14px;
                    padding: 10px 15px 0 0;                    
                  }
                }
              }
            }
          }
        }
        &:after{
          content: "";
          display: block;
          clear: both;
        }
      }
    }
  }
}