@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include ir-img;
}
article {
  .article {
    .article-wrapper {
      .article-text {
        margin-bottom: 85px;
        table {
          margin-top: 15px;
          margin-bottom: 0;
          tr {
            &:hover {
              background-color: #f5f5f5;
            }
          }
          .tr-header {
            background: #F5F5F5;
            > td {
              border-top: 2px solid #aaa;
            }
          }
          .subject {
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 700;
            @include respond-to($phone) {
              font-size: 10px;
            }
            @include respond-to($tablet) {
              font-size: 14px;
            }
          }
          td {
            font-size: 16px;
            text-align: center;
            padding-left: 15px;
            @include respond-to($phone) {
              font-size: 10px;
            }
            @include respond-to($tablet) {
              font-size: 14px;
            }
          }
        }
        .pagination {    
          display: block;
          margin: 0 auto;
          margin-top: 30px;
          width: 300px;
          height: auto;
          text-align: center;
          font-size: 0;      
          li {
            display:inline-block;
            a {
              color: #666;  
              border:none;        
              font-size: 15px;
              font-weight: 900;
              img {
                display: inline-block;
                width: 12px;
                vertical-align: middle;
              }
              &:focus {
                background-color: inherit;
              }
              &.page-num {
                background-color:  inherit;           
                margin: 0 10px;
                &:hover {
                  color: #337ab7;
                }
              }
            }
            &.page-arrow {
              margin: 0 1px;
              a {
                border: 1px solid #eee;
                border-radius: 0;
                margin-left: 0;
              }          
            }
          }        
        }
      }
    }
  }
}