@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include ir-img;
}
article {
  .article {
    .article-wrapper {
      .emp {
        padding-bottom: 0;
        margin-left: 5px;
      }
      .table-wrap {
        margin-bottom: 85px;
        table {
          margin-bottom: 0;
          .volume {
              border-left: 1px solid #ddd;
              border-right: 1px solid #ddd;
          }
          .stock-header-tr1 {
            .top_price {
              color: red;
              font-size: 16px;
              @include respond-to($phone) {
                font-size: 10px;
              }
              @include respond-to($tablet) {
                font-size: 14px;
              }
            }
          }
          .stock-header-tr2 {
            .subject-icraft {
              background: none;
              border-top: none;
            }
            .low_price {
              color: blue;
              font-size: 16px;
              @include respond-to($phone) {
                font-size: 10px;
              }
              @include respond-to($tablet) {
                font-size: 14px;
              }
            }
          }
          .tr-hover {
            &:hover {
              background-color: #f5f5f5;
            }
          }
          .tr-header {
            background: #F5F5F5;
            > td {
              border-top: 2px solid #aaa;
            }
          }
          .subject {
            text-align: center;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 700;
            @include respond-to($phone) {
              font-size: 10px;
            }
            @include respond-to($tablet) {
              font-size: 14px;
            }
          }
          .subject-icraft {
            // border: 1px solid #ddd;
            border-top: 2px solid #aaa;
            border-bottom: 1px solid #ddd;
            background: #F5F5F5;
            + .subject-icraft {
              background: none;
            }
          }
          .subject-icraft-main {
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            // padding: 8px 8px 5px 0;
            .now_price {
              font-size: 26px;
              @include respond-to($phone) {
                font-size: 14px;
              }
              @include respond-to($tablet) {
                font-size: 18px;
              }
              color: red;
            }
            .diff {
              color: red;              
            }
            + td {
              margin-right: 1px solid #ddd;
            }
          }
          .subject-sub {
            border-bottom: 1px solid #ddd;
          }
          
          td {
            font-size: 16px;
            text-align: center;
            padding-left: 15px;
            @include respond-to($phone) {
              font-size: 10px;
            }
            @include respond-to($tablet) {
              font-size: 14px;
            }
          }
        }
        .pagination {    
          display: block;
          margin: 0 auto;
          margin-top: 30px;
          width: 300px;
          height: auto;
          text-align: center;
          font-size: 0;      
          li {
            display:inline-block;
            a {
              color: #666;  
              border:none;        
              font-size: 15px;
              font-weight: 900;
              img {
                display: inline-block;
                width: 12px;
                vertical-align: middle;
              }
              &:focus {
                background-color: inherit;
              }
              &.page-num {
                background-color:  inherit;           
                margin: 0 10px;
                &:hover {
                  color: #337ab7;
                }
              }
            }
            &.page-arrow {
              margin: 0 1px;
              a {
                border: 1px solid #eee;
                border-radius: 0;
                margin-left: 0;
              }          
            }
          }        
        }
      }
    }
  }
}