@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include company-img;
}
article {
  .article {
    .article-wrapper {
      .emp {
        margin-bottom: 20px;
      }
      #map_view {
        width: 100%;
        height: 500px;
        margin-bottom: 50px;
        @include respond-to($phone) {
          height: 280px;              
        }
        @include respond-to($tablet) {
          height: 300px;
        }
      }
      .article-text-group {
        float: left;
        margin-right: 80px;
        @include respond-to($phone) {
          width: 100%;              
        }
        @include respond-to($tablet) {
          width: 100%;
        }
        .article-text-title {
          font-size: 18px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 12px;        
          }
          @include respond-to($tablet) {
            font-size: 16px;
          }
        }
        .article-text {
          margin-top: 5px;
        }
      }
    }
  }
}