@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include business-img;
}
article { 
  .article {
    .article-title {
      margin-top: 50px;
      p {
        margin: 15px 0 0 0;
        font-size: 20px;
        color: gray;
      }
    }
    .article-nav {
      width: 100%;
      max-width: 870px;
      margin: 0 auto;
      li {
        cursor: pointer;
        text-align: center;
        float: left;
        width: 205px;
        padding: 10px;
        margin: 3px 3px;
        border: 1px solid #ddd;
        &:hover {
          background-color: $color-key;
          color: #fff;
        }
        @include respond-to($phone) {
          width: 100%; 
          height: 100%;
          font-size: 10px;          
        }
        @include respond-to($tablet) {
          width: 100%;
          height: 100%;
          font-size: 14px;
        }
      }
    }
    .article-nav:after {
      content: '';
      display: block;
      clear: both;
    }
    .article-wrapper {
      .article-text-title {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
      }
      .ex {
        margin: 110px 0;
      }
      .sr, .qfx, .srx, .gen, .etc{
        margin: 80px 0;
      }
      ul {
        background: #eee;
        padding: 10px 5px;
        li {
          margin: 5px 10px 5px 10px;
          @include respond-to($phone) {
            font-size: 10px; 
          }
          @include respond-to($tablet) {
            font-size: 12px; 
          }
          p {
            margin-left: 10px;
            font-weight: 500;
            @include respond-to($phone) {
              font-size: 10px; 
            }
            @include respond-to($tablet) {
              font-size: 12px; 
            }
          }
        }
        .article-title-sub {
          font-size: 15px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 11px; 
          }
          @include respond-to($tablet) {
            font-size: 13px; 
          }
        }
      }
      .img-wrapper {
        margin-top: 50px;
        .customer {
          width: 250px;
          // width: 28%;
          height: 100px;          
          margin: 0 2%;
          display: inline-block;
          background-image: url('../img/customer.png');
          background-size: cover;
          background-repeat: no-repeat;
          @include respond-to($phone) {
            width: 120px;
            height: 60px;
            margin: 0 2%;          
          }
          @include respond-to($tablet) {
            width: 140px;
            height: 60px;            
            margin: 0 2%;
          }
          &-1 {
            background-position-y: -10px;
            @include respond-to($phone) {
              background-position-y: -5px;
            }
            @include respond-to($tablet) {
              background-position-y: -5px;
            }
          }
          &-2 {
            background-position-y: -1390px;
            @include respond-to($phone) {
              background-position-y: -775px;
            }
            @include respond-to($tablet) {
              background-position-y: -775px;
            }
          }
          &-3 {
            background-position-y: -2770px;
            @include respond-to($phone) {
              background-position-y: -1545px;
            }
            @include respond-to($tablet) {
              background-position-y: -1545px;
            }
          }
          &-4 {
            background-position-y: -4140px;
            @include respond-to($phone) {
              background-position-y: -2315px;
            }
            @include respond-to($tablet) {
              background-position-y: -2315px;
            }
          }
          &-5 {
            background-position-y: -4260px;
            @include respond-to($phone) {
              background-position-y: -2385px;
            }
            @include respond-to($tablet) {
              background-position-y: -2385px;
            }
          }
          &-6 {
            background-position-y: -4385px;
            @include respond-to($phone) {
              background-position-y: -2525px;
            }
            @include respond-to($tablet) {
              background-position-y: -2525px;
            }
          }
          &-7 {
            background-position-y: -4510px;
            @include respond-to($phone) {
              background-position-y: -2595px;
            }
            @include respond-to($tablet) {
              background-position-y: -2595px;
            }
          }
          &-8 {
            background-position-y: -4635px;
            @include respond-to($phone) {
              background-position-y: -2670px;
            }
            @include respond-to($tablet) {
              background-position-y: -2670px;
            }
          }
          &-9 {
            background-position-y: -4020px;
            @include respond-to($phone) {
              background-position-y: -2670px;
            }
            @include respond-to($tablet) {
              background-position-y: -2670px;
            }
          }
          &-10 {
            background-position-y: -135px;
            @include respond-to($phone) {
              background-position-y: -75px;
            }
            @include respond-to($tablet) {
              background-position-y: -75px;
            }
          }
          &-11 {
            background-position-y: -265px;
            @include respond-to($phone) {
              background-position-y: -145px;
            }
            @include respond-to($tablet) {
              background-position-y: -145px;
            }
          }
          &-12 {
            background-position-y: -390px;
            @include respond-to($phone) {
              background-position-y: -215px;
            }
            @include respond-to($tablet) {
              background-position-y: -215px;
            }
          }
          &-13 {
            background-position-y: -515px;
            @include respond-to($phone) {
              background-position-y: -285px;
            }
            @include respond-to($tablet) {
              background-position-y: -285px;
            }
          }
          &-14 {
            background-position-y: -635px;
            @include respond-to($phone) {
              background-position-y: -360px;
            }
            @include respond-to($tablet) {
              background-position-y: -360px;
            }
          }
          &-15 {
            background-position-y: -760px;
            @include respond-to($phone) {
              background-position-y: -425px;
            }
            @include respond-to($tablet) {
              background-position-y: -425px;
            }
          }
          &-16 {
            background-position-y: -890px;
            @include respond-to($phone) {
              background-position-y: -500px;
            }
            @include respond-to($tablet) {
              background-position-y: -500px;
            }
          }
          &-17 {
            background-position-y: -1015px;
            @include respond-to($phone) {
              background-position-y: -570px;
            }
            @include respond-to($tablet) {
              background-position-y: -570px;
            }
          }
          &-18 {
            background-position-y: -1140px;
            @include respond-to($phone) {
              background-position-y: -640px;
            }
            @include respond-to($tablet) {
              background-position-y: -640px;
            }
          }
          &-19 {
            background-position-y: -1260px;
            @include respond-to($phone) {
              background-position-y: -845px;
            }
            @include respond-to($tablet) {
              background-position-y: -845px;
            }
          }
          &-19 {
            background-position-y: -1260px;
            @include respond-to($phone) {
              background-position-y: -915px;
            }
            @include respond-to($tablet) {
              background-position-y: -915px;
            }
          }
          &-20 {
            background-position-y: -1510px;
            @include respond-to($phone) {
              background-position-y: -985px;
            }
            @include respond-to($tablet) {
              background-position-y: -985px;
            }
          }
          &-21 {
            background-position-y: -1635px;
            @include respond-to($phone) {
              background-position-y: -1055px;
            }
            @include respond-to($tablet) {
              background-position-y: -1055px;
            }
          }
          &-22 {
            background-position-y: -1765px;
            @include respond-to($phone) {
              background-position-y: -1125px;
            }
            @include respond-to($tablet) {
              background-position-y: -1125px;
            }
          }
          &-23 {
            background-position-y: -1895px;
          }
          &-24 {
            background-position-y: -2015px;
          }
          &-25 {
            background-position-y: -2140px;
          }
          &-26 {
            background-position-y: -2260px;
          }
          &-27 {
            background-position-y: -2390px;
          }
          &-28 {
            background-position-y: -2515px;
          }
          &-29 {
            background-position-y: -2635px;
          }
          &-30 {
            background-position-y: -2890px;
          }
          &-31 {
            background-position-y: -3010px;
          }
          &-32 {
            background-position-y: -3140px;
          }
          &-33 {
            background-position-y: -3270px;
          }
          &-34 {
            background-position-y: -3390px;
          }
          &-35 {
            background-position-y: -3500px;
          }
          &-36 {
            background-position-y: -3640px;
          }
          &-37 {
            background-position-y: -3770px;
          }
          &-38 {
            background-position-y: -3890px;
          }
          &-39 {
            background-position-y: -4020px;
          }
        }

      }
      .solution-txt {
        margin-bottom: 0;
      }
      .article-left {
        width: 35%;
        height: 100%;
        float: left;
        margin-right: 40px;
        @include respond-to($phone) {
          padding: 0;
          width: 100%;          
        }
        @include respond-to($tablet) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .left-second {
        margin-top: 33px;
      }
      @include respond-to($phone) {
        width: 100%; 
      }
      .article-right {
        float: left;
        width: 59%;
        margin-bottom: 50px;
        @include respond-to($phone) {  
          float: none;        
          width: 100%;
          margin: 50px auto;
        }
        @include respond-to($tablet) {
          float: none;        
          width: 100%;
          margin: 50px auto;          
        }
        .article-text {
          .list-sub {
            margin-left: 20px;
          }
        }
      }
      .article-left-img {
        width: 35%;
        height: 100%;
        float: left;
        > img {
          width: 100%;
          height: 100%;
        }
        @include respond-to($phone) {
          width: 100%;          
        }        
      }
      .article-right-img {
        width: 65%;
        height: 100%;
        float: left;
        > img {
          width: 100%;
          height: 100%;
        }
        @include respond-to($phone) {
          width: 100%;          
        }
      }
      .gigamon-txt {
        display: inline-block;
        margin-top: 50px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        background: $color-key;
        @include respond-to($phone) {
          font-size: 14px;
        }
        @include respond-to($tablet) {
          font-size: 16px;
        }
      }
      .gigamon-list {
        background: none;
        .icon {
          background-image: url('../img/gigamon-icon.png');
          background-size: cover;
          background-repeat: no-repeat;
          display: inline-block;
          margin-right: 20px;
          &-1 {
            width: 50px;
            height: 50px;
            background-position: 3px 0px;
          }        
          &-2 {
            width: 50px;
            height: 50px;
            background-position: -63px 0px;
          }        
          &-3 {
            width: 50px;
            height: 50px;
            background-position: -130px 0px;
          }        
          &-4 {
            width: 50px;
            height: 50px;
            background-position: -198px 0px;
          }        
        }
      }
    }
    .article-wrapper:after {
      content: '';
      display: block;
      clear: both;
    }
    &-img {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}