@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include business-img;
}
article { 
  .article {
    .article-title {
      margin-top: 50px;
      p {
        margin: 15px 0 0 0;
        font-size: 20px;
        color: gray;
      }
    }
    // .sol {
    //   height: 25px;
    // }
    .article-nav {
      width: 100%;
      max-width: 870px;
      margin: 0 auto;
      li {
        cursor: pointer;
        text-align: center;
        float: left;
        width: 205px;
        padding: 10px;
        margin: 3px 3px;
        border: 1px solid #ddd;
        &:hover {
          background-color: $color-key;
          color: #fff;
        }
        @include respond-to($phone) {
          width: 100%; 
          height: 100%;
          font-size: 10px;          
        }
        @include respond-to($tablet) {
          width: 100%;
          height: 100%;
          font-size: 14px;
        }
      }
    }
    .article-nav:after {
      content: '';
      display: block;
      clear: both;
    }
    .article-wrapper {
      .article-text-title {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
      }
      .ex {
        margin: 110px 0;
      }
      .sr, .qfx, .srx, .gen, .etc{
        margin: 80px 0;
      }
      ul {
        background: #eee;
        padding: 10px 5px;
        li {
          margin: 5px 10px 5px 10px;
          @include respond-to($phone) {
            font-size: 10px; 
          }
          @include respond-to($tablet) {
            font-size: 12px; 
          }
          p {
            margin-left: 10px;
            font-weight: 500;
            @include respond-to($phone) {
              font-size: 10px; 
            }
            @include respond-to($tablet) {
              font-size: 12px; 
            }
          }
        }
        .article-title-sub {
          font-size: 15px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 11px; 
          }
          @include respond-to($tablet) {
            font-size: 13px; 
          }
        }
      }
      .solution-txt {
        margin-bottom: 0;
      }
      .article-left {
        width: 35%;
        height: 100%;
        float: left;
        margin-right: 40px;
        @include respond-to($phone) {
          padding: 0;
          width: 100%;          
        }
        @include respond-to($tablet) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .left-second {
        margin-top: 33px;
      }
      @include respond-to($phone) {
        width: 100%; 
      }
      .article-right {
        float: left;
        width: 59%;
        margin-bottom: 50px;
        @include respond-to($phone) {  
          float: none;        
          width: 100%;
          margin: 50px auto;
        }
        @include respond-to($tablet) {
          float: none;        
          width: 100%;
          margin: 50px auto;          
        }
        .article-text {
          .list-sub {
            margin-left: 20px;
          }
        }
      }
    }
    .article-wrapper:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}