@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include business-img;
  .small-menu {
    position: relative;
    &-list:hover .article-nav-hover{
      display: block;
    }
    .article-nav-hover {
      display: none;
      width: 100%;
      background: #fff;
      position: absolute;
      top: 35px;
      left: 0;
      padding: 50px 5%;
      ul {
        li {
          cursor: pointer;
          text-align: center;
          float: left;
          width: 205px;
          padding: 10px;
          margin: 3px 3px;
          border: 1px solid #ddd;
          &:hover {
            background-color: $color-key;
            color: #fff;
          }
        }
      }
    }    
  }
}
article { 
  .article {
    .article-title {
      margin-top: 50px;
      p {
        margin: 15px 0 0 0;
        font-size: 20px;
        color: gray;
      }
    }
    .article-nav {
      width: 100%;
      max-width: 870px;
      margin: 0 auto;
      li {
        cursor: pointer;
        text-align: center;
        float: left;
        width: 205px;
        padding: 10px;
        margin: 3px 3px;
        border: 1px solid #ddd;
        &:hover {
          background-color: $color-key;
          color: #fff;
        }
        @include respond-to($phone) {
          width: 47%; 
          height: 100%;
          font-size: 10px;  
          padding: 5px;                  
        }
        @include respond-to($tablet) {
          width: 48%;
          height: 100%;
          font-size: 14px;
        }
      }
    }
    .article-nav:after {
      content: '';
      display: block;
      clear: both;
    }
    .article-wrapper {
      > img {
        width: 100%;
        margin: 50px 0;
      }
      .article-triple {
        .des {
          float: left;
          width: 31%;
          margin: 30px 25px 15px 0; 
          @include respond-to($phone) {  
            width: 100%;
          }
          @include respond-to($tablet) {
            width: 100%;
          }  
          img {
            width: 100%;
            height: 150px;
          }
          .article-text-title {
            height: 50px;
            // font-size: 18px;
          }
        }
        &:after {
          content: '';
          display: block;
          clear: both;
        }
        .des-last {
          margin-right: 0;
        }
      }
      .triple-last {
        margin-bottom: 80px;
      }
      .emp-prod-title {
        font-size: 30px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        background: #333;
        padding: 15px;
        @include respond-to($phone) {  
          font-size: 15px;
          padding: 10px;
        }
        @include respond-to($tablet) {
          font-size: 18px;
          padding: 12px;          
        }
      }
      .article-prod {
        margin-bottom: 100px;
        .emp-prod {
          font-size: 22px;
          color: #fff;
          font-weight: 700;          
          text-align: center;
          background: $color-key;
          padding: 10px;
          margin: 50px 0 25px 0;
          @include respond-to($phone) {  
            font-size: 12px;
            padding: 8px;
          }
          @include respond-to($tablet) {
            font-size: 15px;
            padding: 8px;          
          }
        }
        img {
          width: 100%;
          margin-top: 30px;
        }
        .article-left-text {
          width: 48%;
          float: left;
          margin-right: 25px;
          @include respond-to($phone) {  
            width: 100%;
          }
          @include respond-to($tablet) {
            width: 100%;
          }
        }
        .article-right-text {
          width: 48%;
          float: left;
          @include respond-to($phone) {  
            width: 100%;
          }
          @include respond-to($tablet) {
            width: 100%;
          }
        }
        .article-left {
          width: 50%;
          margin-right: 0;
          @include respond-to($phone) {  
            width: 100%;
          }
        }
        .article-right {
          float: right;
          width: 45%;
          margin: 0;
          @include respond-to($phone) {  
            width: 100%;
          }
          .text-right {
            margin: 25px 0 25px 0;
          }
        }
        .text-center {
          float: left;
          width: 100%;
          margin: 50px 0;
        }
        &:after {
          display: block;
          content: '';
          clear: both;
        }
      }
      .article-text-title {
        font-size: 20px;
        font-weight: 600;
        margin: 15px 0;
        @include respond-to($phone) {
          font-size: 12px; 
        }
        @include respond-to($tablet) {
          font-size: 14px; 
        }
      }
      .ex {
        margin: 110px 0;
      }
      .sr, .qfx, .srx, .gen, .etc{
        margin: 80px 0;
      }
      ul {
        background: #eee;
        padding: 10px 5px;
        li {
          margin: 5px 10px 5px 10px;
          @include respond-to($phone) {
            font-size: 10px; 
          }
          @include respond-to($tablet) {
            font-size: 12px; 
          }
          p {
            margin-left: 10px;
            font-weight: 500;
            @include respond-to($phone) {
              font-size: 10px; 
            }
            @include respond-to($tablet) {
              font-size: 12px; 
            }
          }
        }
        .article-title-sub {
          font-size: 15px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 11px; 
          }
          @include respond-to($tablet) {
            font-size: 13px; 
          }
        }
      }
      .customer-img {
        width: 100%;
      }
      .solution-txt {
        margin-bottom: 0;
      }
      .article-left {
        width: 35%;
        height: 100%;
        float: left;
        margin-right: 40px;
        @include respond-to($phone) {
          padding: 0;
          width: 100%;          
        }
        @include respond-to($tablet) {
          width: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
        &:after {
          display: block;
          content: '';
          clear: both;
        }
      }
      .left-second {
        margin-top: 33px;
      }
      @include respond-to($phone) {
        width: 100%; 
      }
      .article-right {
        float: left;
        width: 59%;
        margin-bottom: 50px;
        @include respond-to($phone) {  
          float: none;        
          width: 100%;
          margin: 50px auto;
        }
        @include respond-to($tablet) {
          float: none;        
          width: 100%;
          margin: 50px auto;          
        }
        .article-text {
          .list-sub {
            margin-left: 20px;
          }
        }
      }
      .article-left-img {
        width: 35%;
        height: 100%;
        float: left;
        > img {
          width: 100%;
          height: 100%;
        }
        @include respond-to($phone) {
          width: 100%;          
        }        
      }
      .article-right-img {
        width: 65%;
        height: 100%;
        float: left;
        > img {
          width: 100%;
          height: 100%;
        }
        @include respond-to($phone) {
          width: 100%;          
        }
      }
      .gigamon-txt {
        display: inline-block;
        margin-top: 50px;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        background: $color-key;
        @include respond-to($phone) {
          font-size: 12px;
          padding: 8px;
        }
        @include respond-to($tablet) {
          font-size: 15px;
          padding: 8px;          
        }
      }
      .gigamon-list {
        background: none;
        .icon {
          background-image: url('../img/gigamon-icon.png');
          background-size: cover;
          background-repeat: no-repeat;
          display: inline-block;
          margin-right: 20px;
          &-1 {
            width: 50px;
            height: 50px;
            background-position: 3px 0px;
          }        
          &-2 {
            width: 50px;
            height: 50px;
            background-position: -63px 0px;
          }        
          &-3 {
            width: 50px;
            height: 50px;
            background-position: -130px 0px;
          }        
          &-4 {
            width: 50px;
            height: 50px;
            background-position: -198px 0px;
          }        
        }
      }
    }
    .article-wrapper:after {
      content: '';
      display: block;
      clear: both;
    }
    &-img {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}