@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

.location {
  padding: 55px 0 10px 0;
  margin: 0 !important;
}
section {
  
  background: {    
    image: url('../img/recruitment-posts-01.jpg');
    repeat: no-repeat;
    size: cover; 
    position: center;      
  }  
  
  .recruitment-btn {
    display: block;    
    margin: 0 auto;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    box-sizing: border-box;    
  }
}
article {
  #board {
    min-height: 673px;        
  }
  .article-img {
    display: inline-block;
    width: 100%;
  }
  .article-wrapper {
    max-width: 870px;    
    width: 100%;
    margin: 0 auto;
    .search-bar {
      display: none;
      float: right;
      margin-bottom: 20px;
      height: 35px;  
      font-size: 0;
      input {
        border-radius: 2px 0 0 2px;
        padding: 5px;
        font-size: 15px;
        width: 180px;
        height: 35px;
        vertical-align: bottom;
      }
      .get-btn {
        background-color: #23527c;
        color: white;
        border-radius: 0 2px 2px 0;
        display: inline-block;
        margin: 0 auto;          
        padding: 6px; 
        width: 65px;
        height: 35px;        
        text-align: center;
        box-sizing: border-box;
        &:hover {
          background-color: #355f84;
        }
      } 
    }
     
    > ul {      
      > li {
        margin: 5px 10px 15px 10px;
        h4 {
          font-weight: bold;
          font-size: 15px;
        }      
        li {
          margin: 5px 10px;
        }
      }
    }   

    .tab-btn {
      display: inline-block; 
      margin-top: 35px;
      width: 100%; 
      a {        
        border: 2px solid #fefefe;
        background: #f5f5f5;
        color: black;
        float: left; 
        padding: 10px 0;
        width: 33.33%;
        text-align: center;
        font-weight: 600;
        &.active {
          border: 2px solid #337ab7;
          background: #337ab7;
          color: white;
        }
      }  
    }

    .table-tab {
      border: 4px solid #337ab7;
      margin-top: -2px;
      > li {
        display: none; 
        margin: 0;
        &.active {
          display: block;
        }
      }
    }  

    .tableArea {
      clear: both;      
    }   
    
    table {
      width:100%; 
      margin-bottom: 0;     
      tr + tr {
        &:hover {
          background-color: #f9f9f9;
        }
      }
      th {        
        background: #f5f5f5;        
        border-top: 2px solid #aaa;        
        padding: 20px 5px !important;
        text-align: center;        
        font-weight: 600;
        font-size: 16px;        
      }   
      td {
        padding: 20px 5px !important;;
        text-align: center;
        vertical-align: middle;
      }
      @include respond-to($phone) {
        th:nth-child(1), td:nth-child(1) {
          display:none;
        }
        th:nth-child(4), td:nth-child(4) {
          display:none;
        }
      }
      .info-title {
        background-color: #eee;
        font-weight: 600;
        text-align: center;
      }
    }
    
    .pagination-tab {
      > li {
        display: none;
        &.active {
          display:block;
        }
      }
    }
    .pagination {    
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      width: auto;
      height: auto;
      text-align: center;
      font-size: 0;      
      li {
        display:inline-block;
        a {
          color: #666;  
          border:none;        
          font-size: 15px;
          font-weight: 900;
          img {
            display: inline-block;
            width: 12px;
            vertical-align: middle;
          }
          &:focus {
            background-color: inherit;
          }
          &.page-num {
            background-color:  inherit;           
            margin: 0 10px;
            &:hover {
              color: #337ab7;
            }
          }
        }
        &.page-arrow {
          margin: 0 1px;
          a {
            border: 1px solid #eee;
            border-radius: 0;
            margin-left: 0;
          }          
        }
      }        
    }    

    .board-btn {
      background-color: #eee;
      color: black;
      float: right;
      margin-top: 30px;
      padding: 15px 30px;
      font-weight: 600;
      &:hover {
        background-color: #ddd;
      }
    }        
  }

  .article-history:after {
    content: "";
    display: block;
    clear: both;
  }
}
