@import './reset';  
@import './common';
@import './config';

section {
  background: {
    image: url('../img/img-test.png');
    repeat: no-repeat;
    size: cover; 
    // position: top;  
    // position-y: -105px;
  }
}
article { 
  .article {
    .emp {
      text-align: center;
      margin: 50px 0;
    }
    &-text {
      line-height: 1.5;
      font-size: 1.5vw;
      font-weight: 600;
      color: $color-key;
      text-align: center;
      margin: 50px 0;
    }
    &-img-org {
      width: 100%;
    }
  }
}