@import './reset';  
@import './common';

section {
  width: 1050px;
  margin: 0 auto;
  .location {
    margin: 15px 0 10px 0;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    a {
      font-size: 12px;   
      color: #666;
      text-decoration: none;
    }
    span {
      display: inline-block;
      width: 20px;
      font-size: 12px;        
      text-align: center;
    }
  }   
  .img-wrapper {
    height: 400px;
    background: url('../img/img-test-1.png') no-repeat center top;
  }
  .small-menu {
    background: #333;
    height: 40px;
    padding: 0 205px;
    &-list {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      a {
        height: 40px;
        padding-top: 13px;
        float: left;
        width: 160px;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        &:hover, 
        &:focus {
          border-bottom: 5px solid #fff;
        }
      }
      .ative-menu {
        border-bottom: 5px solid #fff;
      }
    }
  }
  .article-1 {
    margin: 60px 0;
    background: #fff;
    padding: 60px 0;
    .article-title {
      color: #333;
      font-size: 40px;
      font-weight: 600;
      padding-bottom: 30px;
      border-bottom: 2px solid #eee;
      margin-bottom: 40px;
      margin-right: 8.33333333%;
    }
    .article-wrapper {     
      .txt-detail {
        width: 870px;
        margin: 40px 0;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        line-height: 1.5;
        color: #333;
      }
      .emp {
        font-size: 23px;
        font-weight: 600;
        color: #174A8E;
        padding-bottom: 10px;
      }
      .emp-kr {
        margin-top: 40px;
      }
      .ci-info {
        width: 870px;
        margin: 10px 0;
        // float: left;
      }
    }
  }
  .article-1:after {
    content: "";
    display: block;
    clear: both;
  }
}