@import './reset';  
@import './common';
@import './config';

section {
  background: url('../img/img-test.png') no-repeat center top;  
}
article { 
  .article {
    &-text {
      line-height: 1.5;
      font-size: 1.5vw;
      font-weight: 600;
      color: $color-key;
      text-align: center;
      margin: 50px 0;
    }
  }
}