@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  @include company-img;
}
article { 
  .article {
    .emp-or {
      text-align: center;
      margin: 50px 0;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.8;
      color: $color-key;
      padding-bottom: 10px;
      @include respond-to($phone) {
        font-size: 12px;
        width: 100%;
      }
      @include respond-to($tablet) {
        font-size: 16px;        
        width: 100%;
      }
    }
    &-text {
      line-height: 1.5;
      font-size: 1.5vw;
      font-weight: 600;
      color: $color-key;
      text-align: center;
      margin: 50px 0;
    }
    &-img-org {
      width: 100%;
    }
  }
}