@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

.location {
  padding: 55px 0 10px 0;
  margin: 0 !important;
}
section {
  background: {    
    image: url('../img/recruitment-posts-01.jpg');
    repeat: no-repeat;
    size: cover; 
    position: center;      
  }  
}
article {
  .article-wrapper {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    display:inline-block;
    clear: both; 
    position: relative;
    .article-title {
      margin-top: 0;
      margin-bottom: 20px !important;
      padding-bottom: 20px !important;
    }  
    .note-editor {      
      margin-top: 10px;
    } 
    input, select {
      display: inline-block;
      margin-right: 10px;
    }
  }
 
}
