@import './reset';  
@import './common';
@import './config';

section {
  background: {
    image: url('../img/recruitment-01.jpg');
    repeat: no-repeat;
    size: cover; 
    position: center;  
  }  
  .recruitment-btn {
    display: block;    
    margin: 0 auto;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    box-sizing: border-box;    
  }
}
article {
  .article-img {
    display: inline-block;
    width: 100%;
  }
  .article-wrapper {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    .article-title {
      margin-top: 40px;
    }
    table {
      border-bottom: 1px solid #ddd;
      .top-info {      
        border-bottom: 1px solid #ddd;
        text-align: center;
      }
      .info-title {
        background-color: #eee;
        font-weight: 600;
        text-align: center;
      }
      .recruit-content {
        padding: 30px 0;               
      }
      img {
        display: inline-block;
        width: 100%;              
        &.arrow {          
          margin-right: 10%;
          width: 15%;
          max-width: 15px;
          vertical-align: middle;  
        }  
      }
    }  
    .board-btn {
      background-color: #eee;
      color: black;
      float: right;
      padding: 15px 30px;
      font-weight: 600;
      &:hover {
        background-color: #ddd;
      }
    }  
    .more-wrap {
      max-width: 870px;
      .more {
        margin: 0 auto;
        width: 14vw;
        height: 5.8vh;
        border: none;
        border-radius: 25px;
        .show-more {
          width: 100%;
          height: auto;
          padding: 10px 0;
          line-height: 2;
          color: #fff;
          font-size: 18px;
          // font-size: 1.5vw;
          background: $color-key;
          border: none;        
          border-radius: 50px;
          @include respond-to($phone) {
            font-size: 10px;
          }
          @include respond-to($tablet) {
            font-size: 14px;
          }
        }
      }
    }
}

  .article-history:after {
    content: "";
    display: block;
    clear: both;
  }
}