@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

.location {
  padding: 55px 0 10px 0;
  margin: 0 !important;
}
section {
  background: {
    image: url('../img/recruitment-01.jpg');
    repeat: no-repeat;
    size: cover; 
    position: 0 0;  
  }  
  .recruitment-btn {
    display: block;    
    margin: 0 auto;
    margin-top: 100px;
    width: 200px;
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    box-sizing: border-box;    
  }
}
article {
  &#board {
    min-height: 673px;        
  }
  .article-img {
    display: inline-block;
    width: 100%;
  }
  .article-wrapper {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;      
    > img {
      float:right; 
      width:300px; 
      margin-top:-20px;
      @include respond-to($phone) {
        display: block;
        margin: 0 auto;
        margin-bottom:20px;
        float: unset;
      }
    }
    .get-btn {
      background-color: #23527c;
      color: white;
      border-radius: 2px;
      display: block;
      margin: 0 auto;  
      margin-top: 50px;
      padding:10px; 
      width: 150px;
      text-align: center;
      @include respond-to($phone) {
        margin-top: 20px;
      }
    }  
    > ul {      
      padding: 10px 5px;
      > li {
        margin: 5px 10px 15px 10px;
        h4 {
          font-weight: bold;
          font-size: 15px;
        }
        table {
          margin-top: 15px;          
        }
        li {
          margin: 5px 10px;
        }
      }
    }  
    p {
      font-size: 15px;
      line-height: 20px;
    }
    .more-wrap {
      max-width: 870px;
      .more {
        margin: 0 auto;
        width: 14vw;
        height: 5.8vh;
        border: none;
        border-radius: 25px;
        .show-more {
          width: 100%;
          height: auto;
          padding: 10px 0;
          line-height: 2;
          color: #fff;
          font-size: 18px;
          // font-size: 1.5vw;
          background: $color-key;
          border: none;        
          border-radius: 50px;
          @include respond-to($phone) {
            font-size: 10px;
          }
          @include respond-to($tablet) {
            font-size: 14px;
          }
        }
      }
    }
    table {
      width:100%;      
      tr + tr {
        &:hover {
          background-color: #eee;
        }
      }
      .display-none {
        display: none;
      }
      .loading {
        height: 610px;
        img {
          width: 15%;
          position: absolute;
          left: 44.5%;
          // top: 25%;
          top: 136%;
        }
      }
      th {        
        background: #f5f5f5;        
        border-top: 2px solid #aaa;        
        padding: 20px 0 !important;
        text-align: center;        
        font-weight: 600;
      }                  
      td {
        padding: 20px 0 !important;;
        text-align: center;        
      }
      @include respond-to($phone) {
        font-size: 14px;
        th:nth-child(1), td:nth-child(1) {
          display:none;
        }
        th:nth-child(6), td:nth-child(6) {
          display:none;
        }
      }
    }
    // .pagination {    
    //   display: block;
    //   margin: 0 auto;
    //   margin-top: 30px;
    //   width: auto;
    //   height: auto;
    //   text-align: center;
    //   font-size: 0;      
    //   li {
    //     display:inline-block;
    //     a {
    //       color: #666;  
    //       border:none;        
    //       font-size: 15px;
    //       font-weight: 900;
    //       img {
    //         display: inline-block;
    //         width: 12px;
    //         vertical-align: middle;
    //       }
    //       &:focus {
    //         background-color: inherit;
    //       }
    //       &.page-num {
    //         background-color:  inherit;           
    //         margin: 0 10px;
    //         &:hover {
    //           color: #337ab7;
    //         }
    //       }
    //     }
    //     &.page-arrow {
    //       margin: 0 1px;
    //       a {
    //         border: 1px solid #eee;
    //         border-radius: 0;
    //         margin-left: 0;
    //       }          
    //     }
    //   }        
    // }
    .pagination {  
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      width: 100%;
      height: auto;
      text-align: center;
      font-size: 0;      
      .page-num, #prev, #next {
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        color: #666;
        border: none;
        font-size: 15px;
        font-weight: 900;
        text-decoration: none;
        border-left: 1px solid #ddd;
        &:hover {
          background: #ddd
        }
      }        
    }     
  }

  .article-history:after {
    content: "";
    display: block;
    clear: both;
  }
}
