@import './reset';  
@import './common';
@import './config';
@import './header';
@import './footer';

section {
  background: {
    image: url('../img/cover3.jpg');
    repeat: no-repeat;
    size: cover; 
    // position: top;  
    // position-y: -105px;
    // position-y: -75px;
  }
  @include respond-to($tablet) {
    background-position-y: -50px;    
  }
  @include respond-to($large-desktop) {
    background-position-y: -240px;
  }
  @include respond-to($large-desktop2) {
    background-position-y: -450px;
  }
}
article { 
  .article {
    .article-title {
      margin-top: 50px;
      p {
        margin: 15px 0 0 0;
        font-size: 20px;
        color: gray;
      }
    }
    
    .article-nav {
      width: 100%;
      max-width: 870px;
      margin: 0 auto;
      li {
        cursor: pointer;
        text-align: center;
        float: left;
        width: 205px;
        padding: 10px;
        margin: 3px 3px;
        border: 1px solid #ddd;
        &:hover {
          background-color: $color-key;
          color: #fff;
        }
        @include respond-to($phone) {
          width: 100%; 
          height: 100%;
          font-size: 10px;          
        }
        @include respond-to($tablet) {
          width: 100%;
          height: 100%;
          font-size: 14px;
        }
      }
    }
    .article-nav:after {
      content: '';
      display: block;
      clear: both;
    }
    .article-wrapper {
      img {
        margin: 30px 0;
      }
      ul {
        background: #eee;
        padding: 10px 5px;
        li {
          margin: 5px 10px 5px 10px;
          @include respond-to($phone) {
            font-size: 10px; 
          }
          @include respond-to($tablet) {
            font-size: 12px; 
          }
          p {
            margin-left: 10px;
            font-weight: 500;
            @include respond-to($phone) {
              font-size: 10px; 
            }
            @include respond-to($tablet) {
              font-size: 12px; 
            }
          }
        }
        .article-title-sub {
          font-size: 15px;
          font-weight: 600;
          @include respond-to($phone) {
            font-size: 11px; 
          }
          @include respond-to($tablet) {
            font-size: 13px; 
          }
        }
      }
      .solution-txt {
        margin-bottom: 0;
      }
      .article-left {
        width: 65%;
        position: relative;
        top: 330px;
        background: none;
        @include respond-to($phone) {
          padding: 0;
          width: 100%;          
        }
        @include respond-to($tablet) {
          width: 100%;
        }
        li {
          margin: 22px 0 22px 10px;
          @include respond-to($phone) {
            margin: 10px 0 10px 0;
          }
        }
        .text-emp {
          position: relative;
          bottom: 320px;
          font-size: 18px;
          text-align: center;
          color: #fff;
          background: #BAB39E;
          padding: 10px;
          @include respond-to($phone) {
            width: 100%; 
            font-size: 12px;
          }
          @include respond-to($tablet) {
            font-size: 14px;
          }
        }
        @include respond-to($phone) {
          width: 100%; 
        }
      }
      .left-second {
        margin-top: 33px;
      }
      @include respond-to($phone) {
        width: 100%; 
      }
      .article-right {
        float: right;        
        width: 40%;
        @include respond-to($phone) {  
          float: none;        
          width: 80%;
          margin: 50px auto;
        }
        @include respond-to($tablet) {
          float: none;        
          width: 50%;
          margin: 50px auto;          
        }
        img {
          margin: 0;
          position: absolute;
          top: 0;
          right: 0;
          width: 30%;
          @include respond-to($phone) {
            width: 100%;
            position: unset;
          }
          @include respond-to($tablet) {
            width: 100%;
            position: unset;            
          }
        }
      }
    }
    .article-solution {
      position: relative;
      .solution-list {
        width: 65%;
        height: 200px;
        @include respond-to($phone) {
          width: 100%;
          height: 100%;          
        }
        @include respond-to($tablet) {
          width: 100%;
          height: 100%;
        }
        li {
          margin: 25px 10px 25px 10px;          
          @include respond-to($phone) {
            margin: 15px 10px 15px 10px;
          }
          @include respond-to($tablet) {
            margin: 15px 10px 15px 10px;
          }
        }
      }
    }
    .article-solution:after {
      content: '';
      display: block;
      clear: both;
    }
    &-img {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}